<div class="panel white-panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns">
				
				<h5 style="font-weight: 600;">Plain White Couch is not suitable for emergencies.</h5>
				
				<p>If you are in crisis, call the National Suicide Prevention Lifeline, a free, 24-hour hotline, at 1.800.273.8255. If your issues is an emergency, please contact 911 immediately, or go to your nearest emergency room.</p>


				<p>Please understand that if an emergency or crisis arises in your conversation, the therapist will be severely limited in ability to help you. The therapist will not have access to emergency contacts on your behalf, and will not necessarily be informed about immediate emergency resources in your vicinity. Also, the therapist will have very sparse personal information about you to act upon, and will not be able to physically assess whether you are in danger to yourself or to others.</p>

				<p>For these reasons, please also understand that use of this platform must be deemed for 'informational purposes' only, and it does not constitute entering a client-therapist relationship with the licensed therapist. While this platform can be very helpful when used appropriately, it wouldn't meet the emergency preparedness standards of regulated psychotherapy.</p>
			</div>
		</div>
	</div>
</div>