<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support. </p>
	
	<p></p>
<% end %>

<%= render 'layouts/header' %>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_white' %>