<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Finding mental healthcare can be difficult. Scouter is dedicated to making the care search process as easy, efficient, and affordable as possible. After signing up with us, we do the work of finding an expert that will meet your specific needs. Once the right match is determined, the expert will contact you with a brief self-description and how he/she can help.</p>
	
	<p></p>
<% end %>

<%= render 'layouts/header' %>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_white' %>