<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Scouter is an anonymous service dedicated to providing anyone struggling with personal issues easy access to helpful advice from professionals. After dropping us a line, we work hard to get you a personalized response from an expert and our system will notify you immediately when it comes.</p>
	
	<p></p>
<% end %>

<%= render 'layouts/header' %>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_white' %>