<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Scouter is making it easier and more comfortable for people to anonymously try out their local therapist. Individuals struggling with hardship fill out a short form and write what's on their mind. Our system forwards this information out to therapists in the area and returns with helpful advice, contact information, and how the therapist can help. Your identity is never revealed and you have no obligation to follow up.</p>
	
	<p></p>
<% end %>

<%= render 'layouts/header' %>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_white' %>