<head>
	<% set_meta_tags :title => 'About Us',
									 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
									 :keywords => 'IM, Instant, Message, Chat, Therapist, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Video, Confidential, Plain, White, Couch, eTherapy, Teletherapy',
									 :reverse => false
	%>
</head>

<% content_for :title do %>
  About Us
<% end %>

<% content_for :body do %>
  <p>Scouter aims to make it as simple as possible for young adults to get mental health support. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who know that life after college can be rough, and believe having someone you can trust is important. </p>

<% end %>

<%= render 'layouts/header' %>

<%= render 'layouts/cta_white' %>