<head>
	<% set_meta_tags :title => 'About Us',
	                 :description => 'Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support.',
	                 :keywords => 'About, Scouter, Therapist, Call, Phone, Anonymous, Anonymously',
									 :reverse => true 	%>
</head>

<% content_for :title do %>
  About Us
<% end %>

<% content_for :body do %>
  <p>Scouter aims to make it as simple as possible to begin working with a therapist. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access qualified mental health support. </p>

<% end %>

<%= render 'layouts/header' %>

<%= render 'layouts/cta_white' %>