<% set_meta_tags :title => 'Therapy, Easy, Try for free',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
								 :reverse => false 
%>

<%= render 'layouts/alertbar' %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1>Talk to a therapist right now.</h1>
				<h3>Speak on the phone with a licensed therapist.</h3>
				<h3>Start within 15 minutes. $30 for a 30 minute session.</h3>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<%= render 'layouts/static_pages/browse_button' %>
				<span id="secure-notice">This is anonymous. We don't collect your name.</span>
			</div>
		</div>
	</div>
</div>

<div id="panel2" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Get help now.</h2>
				<p>If you want help or advice for any reason at all— this is for you. You'll be connected with a licensed therapist over the phone within 15 minutes. Whether you speak just once or choose to talk again in the future, it can really help.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help if you're in those situations.</p>
			</div>

		</div>
	</div>
</div>

<%#= render 'layouts/static_pages/how_it_works' %>

<%#= render 'layouts/cta_green' %>

