<% page_title "Privacy Policy" %>

<% content_for :title do %>
  Our Privacy Policy
<% end %>

<% content_for :body do %>
  <p>Last Updated: April 8, 2014</p>
<% end %>

<%= render 'layouts/header' %>

<%= render 'layouts/privacy_content' %>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_green' %>