<% content_for :title do %>
  End User Terms of Service
<% end %>

<% content_for :body do %>
  <p>Scouter is dedicated to making mental healthcare accessible, acceptable, and affordable.</p>
<% end %>

<%= render 'layouts/header' %>

<div class="panel white-panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns">
				<h5>Last updated: April 16, 2013 </h5>
				<p>Thank you for using Scouter. Through www.scouterapp.com (the “Site”), Scouter is dedicated to helping you easily find and connect with wellness professionals (“Wellness Professionals”) who meet your needs (together with the Site, the “Service”). 
These Terms of Service (“Terms”) govern your access to and use of the Site and related services, so please read them carefully before using the Site and services. As our business grows and we add new functionality to the Site and Services, we may revise these Terms periodically. If we do, we will post the changes here. Your continued use of the Site after any changes are posted constitutes your acceptance of the new Terms.</p>

				<h5>The Service</h5>
				<hr>
				<h5>Your Use of Service: </h5>
				<p>Your Use of Service: 
In order to access or use the Service, you may be required to provide current, accurate, identification, contact and other information. You are responsible for maintaining the accuracy and completeness of this information and also for maintaining the confidentiality of your username and password. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. You will be fully responsible for all activities that occur under your account, including activities of others to whom you have provided your username or password so please notify Scouter immediately of any unauthorized use of your account or any other breach of security. </p>

				<h5>We Do Not Provide Medical Advice: </h5>
				<p>Scouter will provide the infrastructure to connect you to Wellness Professionals. SCOUTER DOES NOT PROVIDE MEDICAL ADVICE. DO NOT USE THE SITE FOR EMERGENCY MEDICAL OR MENTAL HEALTH NEEDS. IF YOU THINK YOU MAY BE A DANGER TO YOURSELF OR OTHERS, OR YOU ARE HAVING A MEDICAL OR MENTAL HEALTH EMERGENCY, CALL 911 OR EMERGENCY MEDICAL SERVICES. The information on the Site provided by Scouter does not constitute medical advice of any kind and it is not intended to be, and should not be, used to diagnose or identify treatment for a medical or mental health condition. Nothing on the Site should be construed as an attempt to offer or render a medical or mental health opinion or otherwise engage in the practice of medicine by Scouter. </p>

				<p>SCOUTER DOES NOT RECOMMEND, REFER, ENDORSE, VERIFY, EVALUATE OR GUARANTEE ANY ADVICE, INFORMATION, TREATMENT, INSTITUTION, PRODUCT, WELLNESS PROFESSIONAL, OPINION OR OTHER INFORMATION OR SERVICES PROVIDED BY ANY WELLNESS PROFESSIONAL USING THE SITE, AND NOTHING SHALL BE CONSIDERED AS A REFERRAL, ENDORSEMENT, RECOMMENDATION OR GUARANTEE OF ANY WELLNESS PROFESSIONAL. SCOUTER DOES NOT WARRANT THE VALIDITY, ACCURACY, COMPLETENESS, SAFETY, LEGALITY, QUALITY, OR APPLICABILITY OF THE CONTENT OR ANYTHING SAID OR WRITTEN BY ANY WELLNESS PROFESSIONAL OR ANY ADVICE PROVIDED, INCLUDING ANY INFORMATION CONTAINED IN ANY WELLNESS PROFESSIONAL LISTING. SCOUTER WILL NOT BE LIABLE FOR ANY DAMAGES SUSTAINED DUE TO RELIANCE BY THE USER ON SUCH INFORMATION OR ADVICE PROVIDED BY ANY WELLNESS PROFESSIONAL.</p>

				<h5>Modifications to Service and Data: </h5>
				<p>The Service may change over time as we add more features. We may modify, suspend or discontinue, temporarily or permanently, the Service (or a part of the Service) or access to any Wellness Professional through the Service from time to time without prior notice to you, and Wellness Professionals may discontinue their association with us at any time without prior notice to you. Please backup your data as Scouter has no responsibility for the deletion or failure to store any data or other content maintained or transmitted by the Service. Scouter reserves the right to terminate accounts that are inactive for an extended period of time.</p>

				<h5>Age: </h5>
				<p>You must be 18 years of age to use this Service, with or without registering. </p>

				<h5>Authorization and Acknowledgment: </h5>
				<p>In connection with using the Site and the Services to locate and schedule appointments with Wellness Professionals, you understand that:</p>

				<p>• Scouter may provide users with lists or profiles of Wellness Professional based solely on the information such users provide to Scouter and/or on certain criteria, either of which may include insurance information, language(s) spoken, past selections by and/or ratings of Wellness Professionals by such user or by other Scouter users. Scouter (i) does not recommend or endorse any Wellness Professional and (ii) does not make any representations or warranties with respect to any Wellness Professional or the quality of the services or advice they provide. </p>
				<p>• Wellness Professionals may pay a fee to Scouter to participate.</p>
				<p>• Users are ultimately responsible for choosing their own Wellness Professional and are strongly advised to perform their own investigation prior to selecting any Wellness Professional by making confirming telephone calls to the appropriate licensing authorities to verify listed credentials and education and to verify information about a particular Wellness Professional with the professional association related to the counselor’s specialty.</p>
				<p>• Users are ultimately responsible for choosing their own Wellness Professional and are strongly advised to perform their own investigation prior to selecting any Wellness Professional by making confirming telephone calls to the appropriate licensing authorities to verify listed credentials and education and to verify information about a particular Wellness Professional with the professional association related to the counselor’s specialty.</p>

				<h5>In-Session Communications: </h5>
				<p>Users are ultimately responsible for choosing their own Wellness Professional and are strongly advised to perform their own investigation prior to selecting any Wellness Professional by making confirming telephone calls to the appropriate licensing authorities to verify listed credentials and education and to verify information about a particular Wellness Professional with the professional association related to the counselor’s specialty.</p> 

				<h5>Conditions of Use</h5>
				<hr>
				<p>Users are ultimately responsible for choosing their own Wellness Professional and are strongly advised to perform their own investigation prior to selecting any Wellness Professional by making confirming telephone calls to the appropriate licensing authorities to verify listed credentials and education and to verify information about a particular Wellness Professional with the professional association related to the counselor’s specialty.</p>

				<h5>Fees and Sessions</h5>
				<hr>
				<p>Scouter may allow users to book appointments with Wellness Professionals through the Site. Scouter will use a third-party payment processor for such booking. The third-party payment processor (and not Scouter) is responsible for collecting and processing credit card and other payment information and Scouter does not collect or store your credit or debit card number or other financial information. We suggest contacting the third-party payment process directly for information on its terms of use and privacy policy, including information on its eligibility requirements, authentication and fraud prevention measures and security measures. You can find Stripe’s privacy policy at https://stripe.com/us/privacy and its terms of service at https://stripe.com/us/terms. </p>

				<p>Scouter may connect Wellness Professionals and users by suggesting matches for professional services and providing the user with contact information for the Wellness Professional.</p>

				<p>If a user books an appointment directly with a Wellness Professional, session cancellation policies and fee amounts will be solely at the discretion of the Wellness Professional. Please confirm any cancellation policies, fees and penalties with your Wellness Professional. </p>

				<p>Scouter is not responsible for missed or late appointments resulting from technology outages or issues. Rescheduling sessions because of technological issues without additional payment is solely determined by the Wellness Professional. If there are any technological issues, they should be reported immediately to scouterapp@gmail.com.</p>

				<h5>Intellectual Property Rights</h5>
				<hr>
				<h5>Service Content, Software and Trademarks: </h5>
				<p>The Service may contain content (“Service Content”) that is protected by copyright, patent, trademark, trade secret or other proprietary rights and laws. Except as expressly authorized by Scouter, you agree not to modify, copy, frame, scrape, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Service Content, in whole or in part. If you are eligible to use the Service, you are granted a limited license to access and use the Site and the Service Content and to download or print a copy of the Service Content you have provided or to which another user has properly granted you access solely for your personal, non-commercial use, provided that you keep all copyright or other proprietary notices intact. You are not permitted to use any data mining, robots, scraping or similar data gathering or extraction methods. Any use of the Site or the Service Content other than as authorized by these Terms is strictly prohibited and will terminate the license granted here. The technology and software underlying the Service is the property of Scouter, our affiliates and our partners (the “Software”). You agree not to reverse engineer, reverse assemble or otherwise attempt to discover any source code version of the Software. We reserve all right, title and interest in and to the Software and Service Content, except for the limited rights expressly granted in these Terms. </p>

				<p>The Scouter name and logo are trademarks and service marks of Scouter (collectively the “Scouter Trademarks”). You may not use any of Scouter Trademarks without our prior written permission.  </p>

				<h5>Third Party Material:</h5> 
				<p>Scouter will not be liable for any content posted by third parties, Wellness Professionals or at the direction of users; you must evaluate the accuracy and usefulness of this content. Scouter does not pre-screen content, but Scouter and its designees will have the right (but not the obligation) to refuse or remove any content that is available via the Service, including the right to remove any content that violates the Terms or is deemed by Scouter to be objectionable. </p>

				<h5>User Content Posted on the Site: </h5>
				<p>You are solely responsible for the content and other materials you post on or through the Service or the Site or transmit to or share with other users or recipients (collectively, “User Content”). You may not post any content that you did not create or that you do not own. By posting User Content you hereby grant and will grant Scouter and its affiliated companies a nonexclusive, worldwide, royalty free, fully paid up, transferable, sublicenseable, perpetual, irrevocable license to copy, display, transmit, distribute, store, modify and otherwise use your User Content in connection with the operation, advertising or marketing of the Service, in any form now known or later developed. </p>

				<p>We welcome your comments, questions, suggestions and feedback about the Site or the Service (“Submissions”)! But be aware that any comments or suggestions you make to Scouter are non-confidential and become the property of Scouter, which will be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you. </p>

				<h5>Third Party Links and Content</h5>
				<hr>
				<p>The Service, Wellness Professionals or third parties may provide content, links or otherwise direct users to other sites and resources on the Internet. Scouter has no control over such sites and resources and Scouter is not responsible for and does not endorse such sites and resources. Scouter will not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, events, goods or services available on or through such site or resource. Information regarding Wellness Professionals, including biographical and contact information, is provided to Scouter by the Wellness Professional and Scouter does not verify the accuracy of such information.</p>

				<h5>Release</h5>
				<hr>
				<p>By using the Service you agree to release, discharge and hold harmless Scouter and its subsidiaries and affiliates (the “Scouter Entities”) from any and all losses, damages, rights, claims, actions of any kind and injury (including death) arising out of or relating to the Service or any act or omission by any person, including without limitation, any dispute between you and any other person or regarding any content posted on the Site. If you are a California resident, you waive California Civil Code §1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.” This release includes, without limitation, any claim resulting from delay and the criminal acts of others. </p>

				<h5>Indemnity</h5>
				<hr>
				<p>You agree to indemnify and hold Scouter and the Scouter Entities harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of or relating to the Services, including without limitation, any content posted to or transmitted through the Service, or publicly distributed on the web, your use of the Service, your connection to the Service, your violation of the Terms or your violation of any rights of another.  </p>

				<h5>Disclaimer of Warranties </h5>
				<hr>
				<p>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. SCOUTER EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, SCOUTER MAKES NO WARRANTY THAT (I) THE SERVICE WILL BE EFFECTIVE, WILL FUNCTION WITHOUT DISRUPTIONS, DELAYS OR ERRORS, WILL BE RELIABLE OR ACCURATE, OR WILL MEET YOUR REQUIREMENTS, (II) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE, OR ACCESSIBLE AT TIMES OR LOCATIONS OF YOUR CHOOSING, (III) THE RESULTS OR INFORMATION THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE, RELIABLE TIMELY, OR COMPLETE, (IV) THE QUALITY OF ANY PRODUCTS, SERVICES, ADVICE, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS WILL BE CORRECTED. EXCEPT AS EXPRESSLY SET FORTH HEREIN, SCOUTER MAKES NO WARRANTIES ABOUT THE SOFTWARE AND FUNCTIONS MADE ACCESSIBLE THROGUH THE SITE OR ANY OTHER SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION.</p>

				<p>ALWAYS USE CAUTION WHEN GIVING OUT ANY PERSONALLY IDENTIFYING INFORMATION ABOUT YOURSELF OR YOUR CHILDREN. </p>

				<h5>Limitation of Liability</h5>
				<hr>
				<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT SCOUTER AND THE SCOUTER ENTITIES WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY DAMAGES, OR DAMAGES FOR LOSS OF PROFITS INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF SCOUTER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, RESULTING FROM: (I) THE USE OR INABILITY TO USE THE SERVICE; (II) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; OR (III) ANY OTHER MATTER RELATING TO THE SERVICE. IN NO EVENT WILL SCOUTER'S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OF ACTION EXCEED ONE HUNDRED DOLLARS ($100).  </p>

				<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS SET FORTH ABOVE MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SERVICE OR WITH THESE TERMS OF SERVICE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SERVICE.</p> 

				<h5>Termination</h5>
				<hr>
				<p>You agree that Scouter, in its sole discretion, may suspend or terminate your account (or any part thereof) or use of the Service and remove and discard any content within the Service, for any reason. Furthermore, any Wellness Professional may terminate their association with the Service or with you at any time and for any reason. If we suspect fraudulent, abusive or illegal activity, we may refer content or accounts to law enforcement authorities. Scouter will not be liable to you or any third-party for any termination of your access to the Service.  </p>

				<h5>Dispute Resolution by Binding Arbitration</h5>
				<hr>
				<h5>PLEASE READ THIS SECTION CAREFULLY AS IT AFFECTS YOUR RIGHTS.</h5>

				<p>Most user concerns can be resolved quickly and to the user’s satisfaction by emailing user support. In the unlikely event that our user care team is unable to resolve a complaint you may have (or if Scouter has not been able to resolve a dispute it has with you after attempting to do so informally), we each agree to resolve those disputes through binding arbitration, mediation, or small claims court instead of in courts of general jurisdiction. Arbitration, which is often cheaper, faster and less formal than a lawsuit in court, uses a neutral arbitrator instead of a judge or jury. Arbitrators can award the same damages and relief that a court can award. If you initiate an arbitration in which you seek more than $75,000 in damages, the payment of attorneys’ fees will be governed by the AAA Rules (as defined below). Any arbitration under this Agreement will take place on an individual basis; class arbitrations and class actions are not permitted.</p>
				<h5>Arbitration Agreement </h5>
				<p>Scouter and you agree to arbitrate all disputes and claims between us. This agreement to arbitrate is intended to be broadly interpreted. It includes, but is not limited to:</p>
				<p>• claims arising out of or relating to any aspect of the relationship between us, whether based in contract, tort, statute, fraud, misrepresentation or any other legal theory;</p>
				<p>• claims that arose before this or any prior agreements (including, but not limited to, claims relating to advertising);</p>
				<p>• claims that are currently the subject of purported class action litigation in which you are not a member of a certified class; and</p>
				<p>• claims that may arise after the termination of these Terms.</p>

				<p>References to ‘Scouter’, ‘you’, and ‘us’ include our respective subsidiaries, affiliates, agents, employees, predecessors in interest, successors, and assigns, as well as all authorized or unauthorized users or beneficiaries of services or devices under this or prior agreements between us. Notwithstanding the foregoing, either party may bring an individual action in small claims court. This arbitration agreement does not preclude you from bringing issues to the attention of federal, state or local agencies, including, for example, the Federal Communications Commission. Such agencies can, if the law allows, seek relief against us on your behalf. You agree that, by entering into these Terms, you and Scouter are each waiving the right to a trial by jury or to participate in a class action. These Terms evidence a transaction in the interstate commerce, and thus the Federal Arbitration Act governs the interpretation and enforcement of this provision. This arbitration provision shall survive termination of these Terms.</p>

				<p>The arbitration will be governed by the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (collectively, ‘AAA Rules’) of the American Arbitration Association (‘AAA’), as modified by these Terms, and will be administered by the AAA. The AAA Rules are available online at adr.org, by calling the AAA at 1-800-778-7879, or by writing to the Arbitration Notice Address. The arbitrator is bound by the terms of these Terms. All issues are for the arbitrator to decide, including, but not limited to, issues relating to the scope, enforceability, and arbitrability of the arbitration provision. Unless Scouter and you agree otherwise, any arbitration hearings will take place in a reasonably convenient location for both parties with due consideration of their ability to travel and other pertinent circumstances. If the parties are unable to agree on a location, the determination shall be made by AAA. If your claim is for $10,000 or less, we agree that you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic hearing, or by an in-person hearing as established by the AAA Rules. If your claim exceeds $10,000, the right to a hearing will be determined by the AAA Rules. Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the award is based. Scouter will pay all AAA filing, administration, and arbitrator fees for any arbitration initiated in accordance with the AAA Rules. However, if you initiate an arbitration in which you seek more than $75,000 in damages, the payment of these fees will be governed by the AAA Rules.</p>

				<p>The arbitrator may make rulings and resolve disputes as to the payment and reimbursement of fees and expenses at any time during the proceeding and upon request from either party made within 14 days of the arbitrator's ruling on the merits.</p>

				<p>The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim. YOU AND SCOUTER AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and Scouter agree otherwise, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding. If this specific provision is found to be unenforceable, then the entirety of this arbitration provision shall be null and void.  </p>

				<p>Notwithstanding any provision in these Terms to the contrary, we agree that if Scouter makes any future change to this arbitration provision (other than a change to the Arbitration Notice Address) while you are a user of the Service, you may reject any such change by sending us written notice within thirty (30) calendar days of the change to the Arbitration Notice Address provided above. By rejecting any future change, you are agreeing that you will arbitrate any dispute between us in accordance with the language of this provision.  </p>

				<h5>General</h5>
				<hr>
				<p>The Terms constitute the entire agreement between you and Scouter and govern your use of the Service, superseding any prior agreements between you and Scouter with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third-party content or third-party software. The Terms will be governed by the laws of the State of New York without regard to its conflict of law provisions. You and Scouter agree to submit to the personal and exclusive jurisdiction of the state and federal courts located within New York County, New York. EACH OF THE PARTIES HEREBY KNOWINGLY, VOLUNTARILY AND INTENTIONALLY WAIVES ANY RIGHT IT MAY HAVE TO A TRIAL BY JURY IN RESPECT OF ANY LITIGATION (INCLUDING BUT NOT LIMITED TO ANY CLAIMS, COUNTERCLAIMS, CROSS-CLAIMS, OR THIRD PARTY CLAIMS) ARISING OUT OF, UNDER OR IN CONNECTION WITH THIS AGREEMENT. FURTHER, EACH PARTY HERETO CERTIFIES THAT NO REPRESENTATIVE OR AGENT OF EITHER PARTY HAS REPRESENTED, EXPRESSLY OR OTHERWISE, THAT SUCH PARTY WOULD NOT IN THE EVENT OF SUCH LITIGATION, SEEK TO ENFORCE THIS WAIVER OF RIGHT TO JURY TRIAL PROVISION. Any claim or cause of action arising out of or related to use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. A printed version of this agreement and of any notice given in electronic form will be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. </p>

				<h5>Your Privacy</h5>
				<hr>
				<p>At Scouter we respect the privacy of our users and have outlined our collection, use and disclosure of personal information and registration data in our Privacy Policy. By using the Services, you accept and agree with all provisions of the Privacy Policy.</p>
			</div>
		</div>
	</div>
</div>

<% content_for :button_content do %>
  <%= button_to "Get Started", homepage_path, class: "button", method: "get" %>
<% end %>

<%= render 'layouts/cta_green' %>