<div id="how-it-works" class="panel panel3">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="how-header">
				<h1>How it works</h1>
				<hr class="dashed-hr">
				<h2>$30 for a 45-minute session.</h2>
				<h5>Only charged if you're satisfied.</h5>
			</div>
		</div>
	</div>
</div>

<div class="panel panel3" id="how-panel">
	<div class="bg-container">
		<div class="container">
			<!--
			<div class="three columns">
				<div class="image" id="form-icon"></div>
			</div>
				-->
			<div class="ten columns">
				<h3>Sign up and choose a time.</h2>
				<p>Select a peer coach to speak with, and a time for a 45-minute session.<span style="font-weight:600">You will not be charged unless you're satisfied.</span></p>
			</div>
			<div class="ten columns">
				<h3>Answer your phone.</h2>
				<p>Have a private, 45-minute conversation about what’s on your mind. That’s all you have to do.</p>
			</div>
			<div class="ten columns">
				<h3>We'll follow up.</h2>
				<p>We’ll check in over email. If you had a positive experience, you can schedule another session. If you disliked it, we will pay the peer coach on your behalf -- you won't be charged a dime.</p>
			</div>
		</div>
	</div>
</div>