<% set_meta_tags :title => 'Counseling for when you are depressed',
                 :description => "If you're dealing with depression try online counseling in a no pressure way. No worries, it's confidential.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false
%>

<% content_for :header do %>
	Talk to a therapist right now.
<% end %>

<% content_for :sub_header1 do %>
	Speak on the phone with a licensed therapist.
<% end %>

<% content_for :sub_header2 do %>
	Start within 15 minutes. $30 for a 30 minute session.
<% end %>

<%= render 'landing_pages/header_landing' %>

<div id="panel2-landing" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Depressed? Get help.</h2>
				<p>If you're feeling depressed, a therapist can help. Speak over the phone with a licensed professional right now.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help.</p>
			</div>

		</div>
	</div>
</div>