<% set_meta_tags :title => 'Counseling for Depression',
                 :description => "If you're dealing with depression try online counseling in a no pressure way. No worries, it's confidential.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false
%>

<% content_for :header do %>
	Talk to a therapist right now.
<% end %>

<% content_for :sub_header1 do %>
	Speak over the phone, start within 15 minutes.
<% end %>

<% content_for :sub_header2 do %>
	$80 to talk for $50 minutes.
<% end %>

<%= render 'landing_pages/header' %>

<div id="panel2-landing" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="eight columns text-container">
				<h2>Depression? Get help.</h2>
				<p>If you're feeling depressed, a therapist can help. Speak over the phone with a licensed professional right now.</p>
				<p>Note, we aren't prepared to handle emergencies. Please call 911.</p>
			</div>

		</div>
	</div>
</div>