<% set_meta_tags :title => 'Counseling for Depression',
                 :description => "If you're dealing with depression try online counseling in a no pressure way. No worries, it's confidential.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Instant message with a therapist.
<% end %>

<% content_for :sub_header1 do %>
	Try talking to a therapist in a no pressure way.
<% end %>

<% content_for :sub_header2 do %>
	Sessions last 50 minutes, and they happen in real-time.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Try counseling here.</h2>
				<p>If you've considered talking to a therapist for any reason at all— this is for you. Writing makes it comfortable and easy to say exactly what's on your mind.</p>
				<p>So see what it's like to instant message with a therapist. And don't worry, all messages are permanently deleted.</p>
<% end %>

<%= render 'landing_pages/body' %>