<% set_meta_tags :title => 'Parenting Counseling',
                 :description => "Talk to a parenting counselor right now. There's no wait, and it's easy to do.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Feeling Grief? Get help now
<% end %>

<% content_for :sub_header1 do %>
	If you're considering grief counseling, a therapist can help.
<% end %>

<% content_for :sub_header2 do %>
	Speak over the phone with a licensed therapist right now.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Try online therapy here.</h2>
				<p>If you've considered therapy for any reason at all— this is for you. Writing makes it comfortable and easy to say exactly what's on your mind.</p>
				<p>So see what it's like to instant message with a therapist. And don't worry, all messages are permanently deleted.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help if you're in those situations.
</p>
<% end %>

<%= render 'landing_pages/body' %>