<% set_meta_tags :title => 'Parenting Counseling',
                 :description => "Talk to a parenting counselor right now. There's no wait, and it's easy to do.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Talk to a therapist right now.
<% end %>

<% content_for :sub_header1 do %>
	Speak on the phone with a licensed therapist.
<% end %>

<% content_for :sub_header2 do %>
	Start within 15 minutes. $30 for a 30 minute session.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Feeling Grief? Get help now.</h2>
				<p>If you're considering grief counseling, a therapist can help. Speak over the phone with a licensed therapist right now.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help.
</p>
<% end %>

<%= render 'landing_pages/body' %>