<% set_meta_tags :title => 'Online Therapy Sessions',
                 :description => "Try talking to a therapist by having an online session via instant message.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Talk to a therapist right now.
<% end %>

<% content_for :sub_header1 do %>
	Speak on the phone with a licensed therapist.
<% end %>

<% content_for :sub_header2 do %>
	Start within 15 minutes. $80 for a 50 minute session.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Considering online therapy? Try right now.</h2>
				<p>Talk to a therapist immediately from the comfort of your own home. Start speaking over the phone with a licensed therapist within 15 minutes.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help.
</p>
<% end %>

<%= render 'landing_pages/body' %>