<% set_meta_tags :title => 'Online Therapy Sessions',
                 :description => "Try talking to a therapist by having an online session via instant message.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Instant message with a therapist.
<% end %>

<% content_for :sub_header1 do %>
	Talk to a therapist online in a no pressure way.
<% end %>

<% content_for :sub_header2 do %>
	A session lasts 35 minutes, and it happens in a secure chatroom.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Get help here.</h2>
				<p>If you're struggling, this is for you. Talking to a therapist over instant message makes it easy to say exactly what's on your mind. Since it's not face to face, there's no pressure.</p>
				<p>It's $45 for a 35 minute talk. And don't worry, all messages are permanently deleted.</p>
<% end %>

<%= render 'landing_pages/body' %>