<% set_meta_tags :title => 'Panic Attack Counseling',
                 :description => "Talk to about a panic attack you may have experienced right now. There's no wait, and it's easy to do.",
								 :noindex => true,
								 :separator => '-',
								 :reverse => false 
%>

<% content_for :header do %>
	Talk to a therapist right now.
<% end %>

<% content_for :sub_header1 do %>
	Speak on the phone with a licensed therapist.
<% end %>

<% content_for :sub_header2 do %>
	Start within 15 minutes. $80 for a 50 minute session.
<% end %>

<%= render 'landing_pages/header' %>

<% content_for :body_html do %>
				<h2>Get help now.</h2>
				<p>If you want help or advice for any reason at all— this is for you. You'll be connected with a licensed therapist over the phone within 15 minutes. Whether you speak just once or choose to talk again in the future, it can really help.</p>
				<p>Note, we aren't prepared for emergencies involving self-harm or hurting others. Please, call 911 for help.</p>
<% end %>

<%= render 'landing_pages/body' %>