<% page_title "About Us" %>

<%= render 'layouts/navbar' %>

<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Scouter aims to make it as simple as possible to get mental health support. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access help. </p>

<% end %>

<%= render 'layouts/header' %>

<%= render 'layouts/cta_white_therapist' %>