<% set_meta_tags :title => 'About Us',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
								 :reverse => true
%>

<% page_title "About Us" %>

<%= render 'layouts/navbar' %>

<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Plain White Couch aims to make it easier for people--and particularly young adults--to get mental health support. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who know that more and more, people prefer communicating with others through text. We want to meet people where they are, and help them with their needs.</p>

<% end %>

<%= render 'layouts/header' %>

<%#= render 'layouts/cta_white_therapist' %>