<% set_meta_tags :title => 'Therapy, Easy, Try for free',
                 :description => "Instant message with a therapist at Plain White Couch. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
								 :noindex => true,
								 :reverse => false 
%>

<% page_title "Scouter - Welcome" %>

<%= render 'layouts/navbar' %>

<div id="panel1" class="panel">
	<div class="bg-container">
		<div class="container">
			<%= render 'layouts/logo' %>
			<div class="sixteen columns" id="copy-container">
				<h1>Get a therapist to call you.</h1>
				<h5>Try therapy the simplest way — by taking a phone call.</h5>
			</div>
			<div class="spacer sixteen columns">
			</div>
			<div class="sixteen columns" id="cta-form">
				<span id="secure-notice">This is confidential. Your identity will not be revealed.</span>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/cta_white_therapist' %>