<% content_for :title do %>
  Choose a therapist.
<% end %>

<% content_for :body do %>
  <p>We will soon have more therapists to choose from. If you don't see someone you like, we can email you with new options. Just click here.</p>
	<p></p>
<% end %>	

<%= render 'layouts/header' %>

<% @therapist.each_with_index do |therapist, index| %>
	<% @therapist_id = therapist.id %>
	<div class='image-panel<%= index %> image-panel panel'>
		<div class="bg-container">
			<div class="container">
				<h1><%= index + 1 %>.</h1>
			</div>
		</div>
	</div>
	<%= render 'layouts/index_profile', :therapist => therapist %>
<% end %>