<% content_for :title do %>
  Our Privacy Policy
<% end %>

<% content_for :body do %>
  <p>Last Updated: April 8, 2014</p>
<% end %>

<%= render 'layouts/header' %>

<%= render 'layouts/privacy_content' %>

<%= render 'layouts/cta_green_therapist' %>