<%= render 'layouts/navbar' %>

<%= render 'layouts/header_tall' %>

<div class="panel signup-panel">
	<div class="bg-container">
		<div class="container">
			
			<h2 class="edit-headers">Your profile details</h2>
				
			<%= render 'layouts/therapist_edit_form' %>
			
		</div>	
	</div>
</div>