<% content_for :title do %>
  About Us.
<% end %>

<% content_for :body do %>
  <p>Scouter is an anonymous service dedicated to providing anyone struggling with personal issues easy access to helpful advice from professionals. After dropping us a line, we get you a personalized response from an expert and our system will notify you immediately when it comes.</p>
	
	<p></p>
<% end %>

<%= render 'layouts/header' %>

<div class="panel">
	<div class="bg-container">
		<div class="container">

<%= render 'layouts/charge_form' %>

		</div>
	</div>
</div>

<%= render 'layouts/footer' %>