<% set_meta_tags :title => 'My Page',
                 :description => "Instant message with a therapist. Try talking to a therapist in a no pressure way. If you like it, switch to audio-chat, video-chat, or meet in person.",
                 :keywords => 'Cheap, Affordable, Counseling, Counselor, Find, Therapist, Call, Phone, Therapy, Anonymously',
								 :reverse => true,
								 :separator => '-' 
%>

<% page_title "Portal" %>

<%= render 'layouts/navbar' %>

<% content_for :title do %>
  Your Page
<% end %>

<% content_for :body do %>
  <p>Scouter aims to make it as simple as possible to get mental health support. We are Matthew Krisiloff and Gene Lee, two recent graduates of University of Chicago who believe it should be easier and more comfortable to access help. </p>

<% end %>

<%= render 'layouts/header' %>

<div class="panel" id="user-profile">
	<div class="bg-container">
		<div class="container">
			<div class="appointments-header">
				<h3>Your appointments</h3>
			</div>
			<div class="appointments-container">
				<% if current_user.role_type == "Client" && !current_user.role.events.nil? %>
					<%= render :partial => 'users/client_page' %>
				<% elsif current_user.role_type == "Therapist" && !current_user.role.events.nil? %>
					<%= render :partial => 'users/therapist_page' %>
				<% end %>
			</div>
		</div>
	</div>
</div>