<% unless @client.nil? %>
	<% if @client.errors.any? %>
		<div class="error_explanation">
			<div class="alert alert-error">
				The form contains <%= pluralize(@client.errors.count, "error") %>.
			</div>
			<ul>
			<% @client.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
<% end %>