<% page_title "Thanks" %>

<% content_for :title do %>
  Thanks
<% end %>

<% content_for :body do %>
  <p>We will send you a confirmation email with details.</p>

<% end %>

<%= render 'layouts/header' %>