		<div class="timer-button-container sidebar-section">
			<p style="margin-bottom: 5px; color: #fff;">Timer Controls</p>
			<button class="timer-start-button" ng-click="stopResumeTimer($event.target)">Start</button>
			<button class="timer-reset-button" ng-click="resetTimer()">Reset</button>
		</div>