		<div class="timer-button-container sidebar-section">
			<p style="margin-bottom: 5px; color: #fff;">Timer Controls</p>
			<button class="timer-start-button" ng-model="toggleButton" ng-click="stopResumeTimer($event.target)">{{ toggleButton.text }}</button>
			<button class="timer-reset-button" ng-click="resetTimer($event.target)">Reset</button>
		</div>