	<div class="sidebar-clock" id="timer">
		<div class="clock-circle" id="clock-back">
			<timer autostart="false" interval="1000" seconds={{second}} minutes={{minutes}}>{{minutes}}m {{seconds}}s</timer>
		</div>
		<div class="clock-circle" id="clock-front">
			<div class="content clock-circle-concentric">
				<p>timer</p>
			</div>
		</div>
	</div>