
<head>
  <title>Hello Client Monkey 4</title>
  <script type="text/javascript">

  Twilio.Device.setup("<%= twilio_token %>", {debug: true});

		Twilio.Device.ready(function (device) {
	    $("#log").text("Client '<%= client_name %>' is ready to call '<%= other_name %>' ");
	  });

    Twilio.Device.error(function (error) {
      $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
      $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
      $("#log").text("Call ended");
    });

    Twilio.Device.incoming(function (conn) {
      $("#log").text("Incoming connection from " + conn.parameters.From);
      // accept the incoming connection and start two-way audio
			$('.answer').click(function(){
				conn.accept();
			})
    });

    function call() {
      // get the phone number to connect the call to
      params = {"To": '<%= other_name %>'};
      Twilio.Device.connect(params);
    }

    function hangup() {
      Twilio.Device.disconnectAll();
    }
		
  </script>
</head>
<body>
  <button class="call" onclick="call();">
    Call
  </button>

  <button class="hangup" onclick="hangup();">
    Hangup
	</button>
	
  <button class="answer">
    Answer
	</button>

  <div id="log">Loading pigeons...</div>
</body>