$(".chats.test, .chats.demo").ready(function() {
	
	$('.helplines-button').click(function() {
		helplinesCard = $('#helplines-card')
		if (helplinesCard.hasClass('opened')) {
			closeSidebarCard(helplinesCard);
		}
		else if (helplinesCard.hasClass('closed')) {
			openSidebarCard(helplinesCard);
		}
	});
	
	$('.chat-panel').click(function() {
		if ($('.sidebar-card').hasClass('opened')) {
			closeSidebarCard($('.sidebar-card'));
		}
	});
	
	$.ajaxSetup({
	  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
	});
	
	// Now pusher is all setup lets let the user go wild!
	$('#loading').fadeOut();
	$('#message').removeAttr("disabled");

	// Typing Notifications
	// "is_currently_typing" is defined at the top of this file
	var timout_function = function() {
		is_typing_currently = false;
		typing_status(false);
	}
	var typing_end_timeout;
	$('#message').keyup(function()
	{
		// Clear the timeout to stop annoying notifications coming every time you clear the field
		clearTimeout(typing_end_timeout);
		if($(this).val() == '' && is_typing_currently) {
			// Has stopped typing by clearing the field
			typing_end_timeout = setTimeout(timout_function, 1500);
		} else {
			// If your not currently typing then send the notification
			if(!is_typing_currently) { 
				is_typing_currently = true; 
				typing_status(true); 
			}
		}
	});
});

//////////////////////////////////////////////////
////////////////// Define Vars; //////////////////
//////////////////////////////////////////////////

var is_typing_currently = false;
var browser_audio_type = "";

var systemMessages = [];
systemMessages[0] = "Hi! Welcome to the Plain White Couch test chat room. For safety, all messages are deleted upon leaving the chatroom."
systemMessages[1] = "These chatrooms are meant to be starting points for people to feel more comfortable talking to a therapist. Potential clients can start by instant messaging over text, get more comfortable, and transition to an audio chat in the middle of a session. The ultimate goal is to help people feel more comfortable meeting with the therapist in video chat or in person."
systemMessages[2] = "To start typing, simply type in the text box at the bottom of the page. There's no one else actually here right now, but you can get a feel for how it works."
systemMessages[3] = "As a therapist, you have a set of controls on the right hand side. The call button allows you to start an audio chat conversation with the potential client you are messaging with -- the client has the option to toggle this button too. The helplines button is a list of referrals for emergency resources. Finally, there is a timer which you can toggle to track the session time -- simply hover over the timer to see how much time has elapsed. You'll also get notifications as the session starts to wind down."
systemMessages[4] = "This should give you a sense of how things would work. Let me know if you have questions, feedback or if you would like to do a live test chat!<br> -Matthew Krisiloff (mattkrisiloff@gmail.com)"

var appendSystemMessage = function(index) {
	var timeIntervals = [0,5000,18000,26000,39000];
	setTimeout(function(){
		if (index === 0) {
			$('.messages-container').append('<span class="nickname-said"><strong>Plain White Couch</strong> said:</span>');
		}
		
		tutorialHighlights(index);
		
		$('.messages-container').append(
			'<div class="message-container" style="display:none;">' +
			'<li class="system">' +
			'<div class="message-wrapper"><div class="message">' + 
			'<p>' + (systemMessages[index]) + '</p>' +
			'</div></div></li></div>');
			
			$('.message-container').last().fadeIn(500);
			scrollToTheBottomUnlessScrolled($('#messages'));
		
			// Programatically create an audio element and pop the user
			var pop = new Audio('/sounds/pop.wav');
			pop.load();
			pop.play();
	}, timeIntervals[index])
}

var tutorialHighlights = function(index) {
	switch(index) {
		case 0:
			break;
		case 1:
			break;
		case 2:
			$('#message').css('border', '5px solid #fff')
			$('#message').animate({ borderColor : '#a0d071' }, 500, 'easeInOutCubic');
			break;
		case 3:
			$('#message').css('border', 'none');
			$('.call').css('color', '#a0d071');
			$('.helplines-button').css('color', '#a0d071');
			$('.timer-start-button').css('color', '#a0d071');
			$('.timer-reset-button').css('color', '#a0d071')
			break;
		case 4:
			$('.sidebar').find('button').css('color', '#7fc4d7');
	}
}