/* == PusherChat Functions == */

// Define some variables
var hasFocus = true;
var people = [];

var changeNickname = function() {
	if($('#nickname').val().length > 0) {
		
		$.post('/api/update_nickname/', { 'chat_id': chat_id, 'user_id': user_id, 'nickname': $('#nickname').val() }, function(response) {
			if(response != "SAVED") {
				alert("There was an error updating your nickname, please try again.");
			}
			onSuccess: {
			}
		});
	} else {
		
	}
	
	return false;
}

function replaceURLWithHTMLLinks(text) {
     var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
     return text.replace(exp,"<a href='$1' target='_blank'>$1</a>"); 
}

var getSizesAndResize = function() {
	var windowHeight = $(window).height();
	var windowWidth = $(window).width();
	var leftPanelWidth = windowWidth - $('.sidebar').width();
	var messagePanelHeight = $(window).height() - $('.chat-input-panel').height();
	var clockY = $('.sidebar-clock').height();
	//resize
	$('.chat-panel').css('width', leftPanelWidth + 'px');
	$('.messages-panel').css('height', messagePanelHeight + 'px');
	$('.sidebar-container').css('height', windowHeight - clockY + 'px');
}

var openSidebarCard = function(card) {
	var windowWidth = $(window).width();
	var sideBarWidth = $('.sidebar').width();
	var cardWidth = card.width();
	$('#sidebar-cards').css('width', cardWidth + sideBarWidth + 'px');
	card.stop().animate({'right' : sideBarWidth + 'px'}, 350, 'easeInOutCubic', function(){
		$(this).addClass('opened').removeClass('closed');
	})
}

var closeSidebarCard = function(card) {
	var windowWidth = $(window).width();
	var sideBarWidth = $('.sidebar').width();
	var cardWidth = card.width();
	card.stop().animate({'right' : (sideBarWidth - cardWidth) + 'px'}, 350, 'easeInOutCubic', function(){
		$(this).addClass('closed').removeClass('opened');
		$('#sidebar-cards').css('width', sideBarWidth + 'px');
	})
}

function watchTimer(periods) {
	console.log('watching timer');
	var minute = periods[5];
	switch(minute) {
		case 1:
			alert('1 minute passed!');
			break;
		case 30:
			alert('30 minutes passed!');
			break;
		case 45:
			alert('45 minutes passed!');
	}
	updateServerTimerStateAndTime();
}