$scouter-blue: #7fc4d7;
$scouter-blue-fade: #8bbdc9;
$scouter-teal-fade: #81b8b9;
$scouter-link: #aaa;
$scouter-orange: #efa350;
$scouter-green: #90bc64;
$scouter-green-light: #a0d071;
$max-width: 1320px;

.panel {
	background-color: #eee;
}