$scouter-red: #ed8772;
$scouter-blue: #7fc4d7;
$scouter-blue-fade: #8bbdc9;
$scouter-teal-fade: #79afaf;
$scouter-link: #aaa;
$scouter-orange: #f4a658;
$scouter-green: #90bc64;
$scouter-green-light: #a0d071;
$max-width: 1320px;
$light-font: "HelveticaNeue-Light", "Helvetica Neue Light";
$medium-font: "HelveticaNeue", "Helvetica Neue";

$profile-index-height: 335px;
$profile-index-height-mobile: 500px;

.panel {
	background-color: #eee;
}

a {
	text-decoration: none;
	href {
		text-decoration: none;
	}
}

@mixin submit-button-white {
	margin-bottom: 10px;
	margin-left: 0px;
	height: 44px;
	width: 200px;
	color: $scouter-green;
	font-size: 16px;
	font-weight: 200;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: $scouter-green;
}