$scouter-red: #ed8772;
$scouter-blue: #7fc4d7;
$scouter-blue-light: #9ad5e2;
$scouter-blue-fade: #8bbdc9;
$scouter-teal-fade: #79afaf;
$scouter-link: #aaa;
$scouter-orange-light: #f7b477;
$scouter-orange: #f4a658;
$scouter-orange-dark: #e0944f;
$scouter-green: #90bc64;
$scouter-green-light: #a0d071;
$scouter-green-superlight: #c7e0aa;
$max-width: 1320px;

$light-font: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Open Sans", "Arial";
$medium-font: "HelveticaNeue", "Helvetica Neue", "Open Sans", "Arial";

$profile-index-height: 280px;
$profile-index-height-mobile: 500px;

.panel {
	background-color: #eee;
}

a {
	text-decoration: none;
	href {
		text-decoration: none;
	}
}

@mixin orange-hr {
	border-top: 1px solid $scouter-orange-dark;
	border-bottom: 1px solid $scouter-orange-light;
	margin-top: 15px;
	margin-bottom: 15px;
}

@mixin blue-hr {
	border-top: 1px solid #6dadbc;
	border-bottom: 1px solid #a2d5e0;
	margin-top: 15px;
	margin-bottom: 15px;
}

@mixin submit-button-white {
	margin-bottom: 10px;
	margin-left: 0px;
	height: 44px;
	width: 200px;
	color: $scouter-green;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: $scouter-green;
}