@import "variables.css.scss";

.spinner {
	display: none;
	height: 50px;
	margin-bottom: 15px;
}

.twilio-container {
	button {
		width: 80px;
		-webkit-appearance: none;
		border: 1px solid $scouter-blue;
		background-color: #fff;
		color: $scouter-blue;
		font-size: 14px;
		font-weight: 200;
	}
	
	#log {
		color: $scouter-green;
	}
}

#helpline-bar {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: $scouter-orange;
	z-index: 1000;
	overflow: hidden;
	
	.container {
		
		#helpline-header {
			height: 50px;
			
			h3 {
				color: #fff;
				line-height: 44px;
				font-weight: 600;
				
				span {
					font-weight: 200;
					font-size: 22px;
				}
			}
		}
		
		#helpline-header:hover {
			cursor: pointer;
			
			h3 {
				span {
				}
			}
		}
		
		#helplines {
			padding-bottom: 20px;
			dt {
				margin-top: 8px;
				color: #fff;
			}
			
			dd {
				color: #fff;
				a {
					color: #fff;
				}
				
				a:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.chat-panel {
	position: relative;
	.bg-container {
		padding-top: 80px;
		padding-bottom: 20px;
		.container {
			textarea {
				-webkit-appearance: none;
				box-shadow: none;
				color: $scouter-teal-fade;
				border: 1px solid #ccc;
				width: 100%;
				resize: none;
				height: 100px;
			}
			
			.timestamps {
				float: right;
				color: #aaa;
				font-size: 12px;
			}
			
			.nickname-said {
				color: #727272;
				.nickname {
					@extend .nickname-said;
				}
			}
			
			#messages {
				.note {
					margin-bottom: 0px;
					color: $scouter-green;
					strong {
						color: #727272;
					}
				}
				
				.message-container {
					
					li {
						margin-bottom: 0px;
					}
					
					.message-wrapper {
						overflow: auto;
						width: 100%;
						
						.message {
							display: inline-block;
							min-width: 50px;
							overflow: auto;
							font-size: 15px;
							margin-top: 5px;
							padding: 12px;
							border-radius: 7px;
				
							p {
								margin: 0px;
								max-width: 450px;
								display: block;
							}
						}
					}
				}
			}
			
			.you {
				.nickname-said {
					float: left;
				}
				.message {
					background-color: $scouter-blue;
					color: #fff;
				}
			}
			.them {
				.nickname-said {
				}
				.timestamps {
				}
				.message {
					float: left;
					background-color: $scouter-green;
					color: #fff;
				}
			}
			
			.change-nickname-container {
				#nickname {
					display: inline-block;
					margin-bottom: 5px;
					height: 40px;
					font-size: 14px;
					padding-left: 10px;
					width: 200px;
					-webkit-appearance: none;
					box-shadow: none;
				}
				
				.change-nickname-button {
					height: 40px;
					width: 100px;
					margin-bottom: 10px;
					border: 1px solid $scouter-green;
					text-align: center;
					background-color: $scouter-green;
				
					a {
						line-height: 38px;
						font-size: 14px;
						color: #fff;
					}
				}
			
				.change-nickname-button:hover {
					opacity: 0.8;
					cursor: pointer;
				}
			
				.change-nickname-button:active {
					background-color: #ccc;
				}
			}
		}
	}
	
	#mobile-chat-input {
		background-color: none;
		position: fixed;
		height: 50px;
		width: 100%;
		bottom: 0px;
	}
}

@media only screen and (max-width: 768px) {
	#helpline-header {
		height: 50px;
		
		h3 {
			padding-top: 5px;
			color: #fff;
			font-size: 16px;
			line-height: 16px !important;
			font-weight: 600;
			
			span {
				font-weight: 200;
				font-size: 14px !important;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.you {
		.nickname-said {
			float: left;
		}
		.message {
			float: right;
			background-color: $scouter-blue;
			color: #fff;
		}
	}
	
	#helplines {
		
		dt {
			font-size: 12px;
			line-height: 14px;
		}
		dd {
			font-size: 12px;
			line-height: 14px;
		}
	}
}