@import "variables.css.scss";
$sidebar-width : 240px;

#chat-navbar {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	background-color: #525252;
	padding: 10px;
	padding-left: 15px;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	img {
		height: 30px;
		display: inline-block;
	}
	
	a {
		display: inline-block;
	}
	
	p {
		margin-left: 10px;
		vertical-align: middle;
		line-height: 30px;
		display: inline-block;
		color: white;
	}
}

.sidebar-clock:hover {
	#clock-front {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	}
}

.sidebar-clock {
	width: $sidebar-width;
	z-index: 3;
	background-color: $scouter-blue;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 160px;
	overflow: visible;
	
	.clock-circle {
		margin: auto;
		position: absolute;
		border-radius: 50px;
	}
	
	#clock-back {
		box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
		@include stripe-background-large;
		height: 90px;
		width: 90px;
		bottom: 35px;
		right: 75px;
		z-index: 4;
		background-color: #fff;
		text-align: center;
		
		timer {
			font-family: $light-font;
			line-height: 90px;
			margin: auto;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 200;
			color: #626262;
		}
	}
	
	#clock-front {
		height: 100px;
		width: 100px;
		right: 70px;
	  bottom: 30px;
		padding: 9px;
		border: 1px solid $scouter-blue;
		z-index: 5;
		background-color: #fff;
		text-align: center;
		-webkit-transform-origin: 50% 13%;
		-moz-transform-origin: 50% 13%;
		-o-transform-origin: 50% 13%;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5 ease-in-out;
		
		.clock-circle-concentric {
			margin: auto;
			border-radius: 40px;
			height: 80px;
			width: 80px;
			border: 1px dashed $scouter-blue;
			z-index: 6;
			background-color: #fff;
			text-align: center;
			
			p {
				font-family: $light-font;
				line-height: 80px;
				vertical-align: middle;
				color: $scouter-blue;
				font-size: 20px;
				font-weight: 200;
			}
		}
	}
}

#sidebar-cards {
	width: $sidebar-width;
	z-index: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
}

.sidebar {
	width: $sidebar-width;
	z-index: 2;
	background-color: $scouter-blue;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	
	hr {
		@include blue-hr;
	}
	
	.sidebar-container {
		overflow-y: scroll;
		padding: 20px;
		text-align: center;
		
		#logo-banner {
			padding-bottom: 5px;
		}
		
		.sidebar-section {
			height: 120px;
			width: 100%;
			text-align: center;
		}
		
		button {
			width: 80px;
			height: 35px;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-shadow: none;
			border: 1px solid $scouter-blue;
			background-color: #fff;
			color: $scouter-blue;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 18px;
			vertical-align: middle;
			font-family: $medium-font;
			font-weight: 400;
		}
		
		button:hover {
			background-color: #eee;
		}
		
		button:active {
			background-color: #eee;
			border: 1px solid $scouter-green;
			color: $scouter-green;
		}
	}
}

.spinner.ng-hide-remove {
	display: block;
	.spinner-container {
		img {
			margin: auto;
			bottom: -120px;
			height: 0px;
			opacity: 0;
			left: 25px;
		}
	}
}

.spinner {
	text-align: center;
	margin: auto;
	height: 50px;
	width: 100%;
	
	.spinner-container {
		position: relative;
		display: block;
		height: 50px;
		width: 50px;
		margin: auto;
		
		img {
			position: absolute;
			bottom: -20px;
			-webkit-transition: 0.4s ease-out;
			-moz-transition: 0.4s ease-out;
			-o-transition: 0.4s ease-out;
			-webkit-transition-property: height, opacity, margin-bottom, bottom, left;
			-moz-transition-property: height, opacity, margin-bottom, bottom, left;
			-o-transition-property: height, opacity, margin-bottom, bottom, left;
			height: 50px;
			opacity: 1.0;
			margin-bottom: 0px;
			left: 0px;
		}
	}
}

.twilio-container {
	button {
	}
	
	.disabled {
		background-color: #eee;
	}
	
	.disabled:hover {
		cursor: default;
	}
	
	#log {
		color: #fff;
	}
}

.helplines-button-container {
}

#helplines-card {
	$brownish : #514b45;
	width: 300px;
	background-color: #f7f2ed;
	position: absolute;
	bottom: 0;
	right: -60px;
	height: 100%;
	overflow-y: scroll;
	
	hr {
		border-top: 1px solid #d8d1cb;
		border-bottom: 1px solid #fff;
	}
	
	.helplines-container {
		padding: 20px 25px;
		
		h3 {
			opacity: 0.9;
			color: $brownish;
			font-weight: 600;
			margin-bottom: 20px;
		}
		
		#helpline-header {
			height: 50px;
		}
		
		#helplines {
			padding-bottom: 20px;
			max-width: 300px;
			.helpline-container:hover {
				
			}
			
			.helpline-container {
				dt {
					margin-top: 15px;
					line-height: 16px;
					font-weight: 600;
					color: $brownish;
				}
			
				dd {
					font-size: 16px;
					line-height: 22px;
					color: $brownish;
					a {
						color: $brownish;
					}
				
					a:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}

.chat-panel {
	position: absolute;
	right: $sidebar-width;
	overflow: hidden;
	height: 100%;
	
	.messages-panel {
		@include stripe-background-large;
		position: relative;
		height: 100%;
		
		.container {
			width: 100%;
			height: 100%;
			
			.timestamps {
				float: right;
				color: #aaa;
				font-size: 12px;
			}
			
			.nickname-said {
				margin-top: 10px;
				color: #727272;
				.nickname {
					@extend .nickname-said;
				}
			}
			
			#chat-notification-container {
				position: absolute;
				bottom: 0px;
				height: 28px;
				width: 100%;
				z-index: 10;
				
				#chat-notification.ng-hide-remove {
					opacity: 0;
					margin-left: -35px;
				}

				#chat-notification.ng-hide {
					opacity: 0;
					margin-left: -35px;
					display: block !important;
				}
				
				#chat-notification {
					-webkit-transition: all ease-out 0.15s;
					-moz-transition: all ease-out 0.15s;
					-o-transition: all ease-out 0.15s;
					padding: 5px;
					max-width: 840px;
					margin-left: 0px;
					height: 100%;
					
					div {
						font-size: 12px;
						color: #525252;
						
						strong {
							@extend div;
						}
					}
				}
			}
			
			#messages {
				background-color: #fff;
				padding-top: 20px;
				position: relative;
				overflow-y: scroll;
				max-width: 840px;
				margin: auto;
				height: 100%;
				
				.messages-container {
					padding: 30px;
					
					.note {
						margin-bottom: 10px;
						margin-top: 15px;
						color: $scouter-green;
						strong {
							color: #727272;
						}
					}
					
					.message-container.ng-enter {
						-webkit-transition: all ease-in-out 0.25s;
						-moz-transition: all ease-in-out 0.25s;
						-o-transition: all ease-in-out 0.25s;
						margin-top: -10px;
						opacity: 0;
					}
					
					.message-container.ng-enter-active {
						margin-top: 0px;
						opacity: 1.0;
					}
					
					.message-container {
					
						li {
							margin-bottom: 0px;
						}
					
						.message-wrapper {
							overflow: auto;
							width: 100%;
						
							.message {
								display: inline-block;
								min-width: 50px;
								overflow: auto;
								font-size: 15px;
								margin-top: 5px;
								padding: 12px;
								border-radius: 8px;
				
								p {
									margin: 0px;
									max-width: 450px;
									display: block;
								}
							}
						}
					}
				}
			}
			
			.system {
				.message {
					background-color: #ddd;
					color: #525252;
				}
			}
			
			.you {
				.message {
					@include blue-gradient;
					color: #fff;
					float: left;
				}
			}
			.them {
				text-align: right;
				.nickname-said {
				}
				.timestamps {
				}
				.message {
					text-align: left;
					float: right;
					@include green-gradient;
					color: #fff;
				}
			}
		}
	}
	
	.chat-input-panel {
		position: absolute;
		bottom: 0;
		height: 150px;
		width: 100%;
		border-radius: 0px;
		border-top: 1px solid #ccc;
		background-color: green;
		
		textarea {
			-webkit-appearance: none;
			box-shadow: none;
			color: $scouter-teal-fade;
			padding: 10px;
			border: none;
			font-size: 18px;
			border-radius: 0px;
			width: 100%;
			resize: none;
			height: 100%;
		}
	}
}

@media only screen and (max-width: 768px) {
	#helpline-header {
		height: 50px;
		
		h3 {
			padding-top: 5px;
			color: #fff;
			font-size: 16px;
			line-height: 16px !important;
			font-weight: 600;
			
			span {
				font-weight: 300;
				font-size: 14px !important;
			}
		}
	}
}

@media only screen and (max-width: 1140px) {
	.them {
		.nickname-said {
			text-align: right;
			float: right !important;
		}
		.message {
			float: right !important;
			background-color: $scouter-blue;
			color: #fff;
		}
	}
	
	#helplines {
		
		dt {
			font-size: 12px;
			line-height: 14px;
		}
		dd {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

@media only screen and (max-width: 480px) {
	.chat-panel {
		right: 0;
		width: 100%;
		
		.chat-input-panel {
			height: 100px;
			
			textarea {
				font-size: 14px;
			}
		}
	}
	#sidebar-cards {
		width: 0px;
	}
	.sidebar {
		width: 0px;
	}
	
	#helplines-card {
		width: 0px;
		overflow: hidden;
	}
}