@import "variables.css.scss";
$sidebar-width : 240px;

#chat-navbar {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	background-color: #525252;
	padding: 10px;
	padding-left: 15px;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	img {
		height: 30px;
		display: inline-block;
	}
	
	a {
		display: inline-block;
	}
	
	p {
		margin-left: 10px;
		vertical-align: middle;
		line-height: 30px;
		display: inline-block;
		color: white;
	}
}

.sidebar {
	width: $sidebar-width;
	background-color: $scouter-blue;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	
	.sidebar-container {
		padding: 20px;
		text-align: center;
		
		#logo-banner {
			img {
				height: 40px;
				margin: auto;
				
			}
			
			p {
				color: white;
			}
		}
	}
}

.spinner {
	display: none;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.twilio-container {
	button {
		width: 80px;
		-webkit-appearance: none;
		text-shadow: none;
		border: 1px solid $scouter-blue;
		background-color: #fff;
		color: $scouter-blue;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 200;
	}
	
	button:hover {
		background-color: #eee;
	}
	
	.disabled {
		background-color: #eee;
	}
	
	.disabled:hover {
		cursor: default;
	}
	
	#log {
		color: #fff;
	}
}

#helpline-bar {
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: $scouter-orange;
	z-index: 1000;
	overflow: hidden;
	
	.container {
		
		#helpline-header {
			height: 50px;
			
			h3 {
				color: #fff;
				line-height: 44px;
				font-weight: 600;
				
				span {
					font-weight: 200;
					font-size: 22px;
				}
			}
		}
		
		#helpline-header:hover {
			cursor: pointer;
			
			h3 {
				span {
				}
			}
		}
		
		#helplines {
			padding-bottom: 20px;
			dt {
				margin-top: 8px;
				color: #fff;
			}
			
			dd {
				color: #fff;
				a {
					color: #fff;
				}
				
				a:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.chat-panel {
	position: absolute;
	right: $sidebar-width;
	overflow: hidden;
	height: 100%;
	.messages-panel {
		position: relative;
		height: 100%;
		
		.container {
			width: 100%;
			height: 100%;
			
			.timestamps {
				float: right;
				color: #aaa;
				font-size: 12px;
			}
			
			.nickname-said {
				color: #727272;
				.nickname {
					@extend .nickname-said;
				}
			}
			
			#messages {
				position: relative;
				overflow-y: scroll;
				padding: 30px;
				height: 100%;
				
				.note {
					margin-bottom: 0px;
					color: $scouter-green;
					strong {
						color: #727272;
					}
				}
				
				.messages-container {
					
					.message-container {
					
						li {
							margin-bottom: 0px;
						}
					
						.message-wrapper {
							overflow: auto;
							width: 100%;
						
							.message {
								display: inline-block;
								min-width: 50px;
								overflow: auto;
								font-size: 15px;
								margin-top: 5px;
								padding: 12px;
								border-radius: 7px;
				
								p {
									margin: 0px;
									max-width: 450px;
									display: block;
								}
							}
						}
					}
				}
			}
			
			.you {
				.message {
					background-color: $scouter-blue;
					color: #fff;
				}
			}
			.them {
				.nickname-said {
				}
				.timestamps {
				}
				.message {
					float: left;
					background-color: $scouter-green;
					color: #fff;
				}
			}
		}
	}
	
	.chat-input-panel {
		position: absolute;
		bottom: 0;
		height: 150px;
		width: 100%;
		border-radius: 0px;
		border-top: 1px solid #ccc;
		background-color: green;
		
		textarea {
			-webkit-appearance: none;
			box-shadow: none;
			color: $scouter-teal-fade;
			padding: 10px;
			border: none;
			font-size: 18px;
			border-radius: 0px;
			width: 100%;
			resize: none;
			height: 100%;
		}
		
		.change-nickname-container {
			#nickname {
				display: inline-block;
				margin-bottom: 5px;
				margin-right: 3px;
				height: 40px;
				font-size: 14px;
				padding-left: 10px;
				width: 200px;
				-webkit-appearance: none;
				box-shadow: none;
			}
		
			.change-nickname-button {
				height: 40px;
				width: 100px;
				margin-bottom: 10px;
				border: 1px solid $scouter-green;
				text-align: center;
				background-color: $scouter-green;
		
				a {
					line-height: 38px;
					font-size: 14px;
					color: #fff;
				}
			}
	
			.change-nickname-button:hover {
				opacity: 0.8;
				cursor: pointer;
			}
	
			.change-nickname-button:active {
				background-color: #ccc;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	#helpline-header {
		height: 50px;
		
		h3 {
			padding-top: 5px;
			color: #fff;
			font-size: 16px;
			line-height: 16px !important;
			font-weight: 600;
			
			span {
				font-weight: 200;
				font-size: 14px !important;
			}
		}
	}
}

@media only screen and (max-width: 1140px) {
	.them {
		.nickname-said {
			text-align: right;
			float: right !important;
		}
		.message {
			float: right !important;
			background-color: $scouter-blue;
			color: #fff;
		}
	}
	
	#helplines {
		
		dt {
			font-size: 12px;
			line-height: 14px;
		}
		dd {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

@media only screen and (max-width: 480px) {
	.chat-panel {
		right: 0;
		width: 100%;
		
		.chat-input-panel {
			height: 100px;
			
			textarea {
				font-size: 14px;
			}
		}
	}
	.sidebar {
		width: 0px;
	}
}