@import "variables.css.scss";

#footer {
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #323232;
		background-size: 100% auto;
		
		.container {
			padding-top: 10px;
			padding-bottom: 10px;
			.footer-email {
				#contact-us {
				
					li {
						color: #ccc;
						font-size: 12px;
						margin-left: 0px;
					
						a {
							font-size: 12px;
							font-weight: 600;
						}
					}
				}
			}
			.footer-links {
				text-align: right;
			}
			
			ul {
				margin-bottom: 0px;
			}
			
			ul li {
				margin-left: 10px;
				display: inline-block;
				margin-bottom: 0px;
			}
		
			ul li a {
				font-size: 12px;
				color: #ccc;
				text-decoration: none;
			}
			
			ul li a:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
		
		#footer-line {
			text-align: right;
			padding-top: 0px;
			p {
				text-align: right;
				color: #828282;
				font-size: 12px;
				margin-bottom: 0px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	#footer {
		.bg-container {
			.container {
				padding-top: 15px;
				text-align: left;
				
				ul li {
					margin-left: 0px;
				}
				.footer-email {
					text-align: left;
					margin-bottom: 10px;
				}
				
				.footer-links {
					text-align: left;
					margin-bottom: 10px;
					
					li {
						width: 100%;
					}
				}
				
				#footer-line {
					text-align: left;
					
					p {
						text-align: left;
					}
				}
			}
		}
	}
}