@import "variables.css.scss";

.top-logo:hover {
	opacity: 0.8;
}

.header-tall {
	background-color: #eee;
	.bg-container {
		.container {
			#logo-banner {
				padding-top: 80px !important;
			}
		}
	}
}

.gen-header {
	background-color: #eee;
	.bg-container {
		padding-bottom: 80px;
		max-width: $max-width;
		background-color: $scouter-blue;
		background-repeat: no-repeat;
		margin: auto;

		.container {

			#logo-banner {
				padding-top: 40px;
				padding-bottom: 40px;
				text-align: center;

				a {
					margin: auto;
				}
			}

			.columns {

				h1 {
					color: #fff;
				}

				h5 {
					color: #fff;
				}

				p {
					color: #fff;
					font-size: 17px;
					line-height: 22px;
				}
			}
		}
	}
}


@media only screen and (max-width: 480px) {
	.gen-header {
		.bg-container {
			.container {
				text-align: center;
			}
		}
	}
	
	.arrow-down {
		position: relative;
		background-image: image-url('arrow-down-icon.png');
		width: 50px;
		height: 50px;
		margin: auto;
		bottom: -30px;
		background-size: 100% auto;
	}
	
	#arrow-down:hover {
		cursor: pointer;
	}
}