@import "variables.css.scss";

.signup-panel {
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #fff;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding-top: 80px;
			padding-bottom: 80px;
			
			input {
				color: $scouter-teal-fade;
				font-size: 20px;
				padding: 12px 10px;
				width: 300px;
				-webkit-appearance: none;
			}
			
			input:focus {
				box-shadow: none;
			}
			
			textarea {
				overflow: hidden;
				min-height: 400px;
				width: 100%;
				border: none;
				margin-bottom: 0px;
				color: $scouter-teal-fade;
				font-size: 36px;
				line-height: 44px;
				resize: none;
			}
			
			textarea:focus {
				outline: none;
				box-shadow: none;
			}
			
			#counter-text {
				display: inline-block;
				margin-bottom: 15px;
				margin-left: 0px;
				font-size: 14px;
				color: #bbb;
			}
			
			label {
				margin-bottom: 10px;
				margin-top: 30px;
				color: #aaa;
				font-size: 16px;
				font-weight: 200;
			}
			
			select {
				padding-left: 10px;
				-webkit-appearance: none;
				@extend input;
			}
			
			select:hover {
				cursor: pointer;
			}
			
			#user_insurance {
				margin-bottom: 30px;
			}
			
			.submit_button_white {
				margin-top: 20px;
				margin-left: 0px;
				height: 44px;
				width: 200px;
				color: $scouter-green;
				font-size: 16px;
				font-weight: 200;
				background-color: #fff;
				border-width: 1px;
				border-style: solid;
				border-color: $scouter-green;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.signup-panel {
		.bg-container{
			.container {
				textarea {
					font-size: 26px;
					line-height: 32px;
				}
				
				#counter-text {
					text-align: center;
				}
				
				.submit_button_white {
					width: 100%;
					text-align: center;
					margin: auto;
				}
			}
		}
	}
}