@import "variables.css.scss";

.shared-links {
	a {
		color: $scouter-green !important;
	}
	
	a:hover {
		opacity: 0.7;
	};
}

.edit-divider {
	margin-top: 30px;
	border-top: 1px dashed #ccc;
}

.signup-panel {
	h2 {
		color: #525252;
	}
	
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #fff;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding-top: 80px;
			padding-bottom: 80px;
			
			.edit-headers {
				margin-top: 40px;
				color: #525252;
			}
			
			form {
				margin-bottom: 0px;
				
				.avatar-thumb {
					padding-top: 30px;
				}
				
				#therapist_avatar {
					color: #aaa;
					font-size: 12px;
					padding-top: 5px;
					padding-left: 0px;
					padding-bottom: 0px;
					
					button {
						-webkit-appearance: none;
						border: none;
					}
				}
				
				.check_box {
					
					label {
						position: relative;
						top: -4px;
						display: inline;
					}
					
					#therapist_remember_me {
						border: 1px solid #ccc;
						margin-left: 0px;
						margin-right: 0px;
						margin-bottom: 30px;
						width: 25px;
						height: 25px;
						padding: 0px;
						-webkit-appearance: checkbox;
					}
				}
			}
			
			input {
				color: $scouter-teal-fade;
				font-size: 20px;
				padding: 12px 10px;
				width: 300px;
				-webkit-appearance: none;
			}
			
			input:focus {
				box-shadow: none;
			}
			
			textarea {
				overflow-x: hidden;
				min-height: 400px;
				width: 100%;
				border: none;
				margin-bottom: 0px;
				color: $scouter-teal-fade;
				font-size: 36px;
				line-height: 44px;
				resize: none;
			}
			
			textarea:focus {
				outline: none;
				box-shadow: none;
			}
			
			#therapist-bio {
				border: 1px solid #ccc;
				line-height: 34px;
				font-size: 20px;
				padding: 10px 15px
			}
			
			#welcome-text-area {
				@extend #therapist-bio;
			}
			
			#add-subsection-container {
				margin-top: 40px;
				display: inline-block;
				
				.add-subsection {
					height: 60px;
					border: 1px dashed #ccc;
					margin-top: 10px;
					margin-bottom: 10px;
					div {
						padding: 15px;
					
						p {
							font-size: 20px;
							line-height: 30px;
							color: $scouter-teal-fade;
						}
					}
				}
				
				.add-subsection:hover {
					cursor: pointer;
					background-color: #eee;
				}
			}
			
			#approach-text-area {
				@extend #therapist-bio;
			}
			
			.approach-sub-text-area {
				@extend #therapist-bio;
				min-height: 200px;
			}
			
			#issues-text-area {
				@extend #therapist-bio;
				min-height: 200px;
			}
			
			#counter-text {
				display: inline-block;
				margin-bottom: 15px;
				margin-left: 0px;
				font-size: 14px;
				color: #bbb;
			}
			
			i {
				display: inline-block;
				margin-bottom: 5px;
				color: $scouter-teal-fade;
			}
			
			label {
				margin-bottom: 5px;
				margin-top: 30px;
				color: #aaa;
				font-size: 16px;
				font-weight: 200;
			}
			
			select {
				padding-left: 10px;
				-webkit-appearance: none;
				@extend input;
			}
			select:hover {
				cursor: pointer;
			}
			
			#user_insurance {
				margin-bottom: 30px;
			}
			
			.error_explanation {
				color: $scouter-red;
				margin-bottom: 0px;
				
				ul {
					margin-bottom: 10px;
					li {
						font-size: 13px;
						font-weight: 600;
						margin-bottom: 2px;
					}
				}
			}
			
			.submit_button_white {
				margin-top: 30px;
				margin-bottom: 10px;
				margin-left: 0px;
				height: 44px;
				width: 200px;
				color: $scouter-green;
				font-size: 16px;
				font-weight: 200;
				background-color: #fff;
				border-width: 1px;
				border-style: solid;
				border-color: $scouter-green;
			}
			
			.submit_button_red {
				margin-top: 0px;
				margin-bottom: 10px;
				margin-left: 0px;
				height: 44px;
				width: 200px;
				color: $scouter-red;
				font-size: 16px;
				font-weight: 200;
				background-color: #fff;
				border-width: 1px;
				border-style: solid;
				border-color: $scouter-red;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.signup-panel {
		.bg-container{
			.container {
				padding-top: 50px;
				textarea {
					min-height: 320px;
					font-size: 26px;
					line-height: 32px;
				}
				
				#counter-text {
					text-align: center;
				}
				
				.submit_button_white {
					width: 100%;
					text-align: center;
					margin: auto;
				}
			}
		}
	}
}