$scouter-blue: #7fc4d7;
$scouter-orange: #f1ac5a;
$scouter-green: #90bc64;
$scouter-green-light: #a0d071;
$max-width: 1320px;

.panel {
	background-color: #eee;
}

#panel1 {
	background-image: image-url("mousehand5.jpg");
	background-size: $max-width auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 650px;
	
	.container {
		padding-bottom: 80px;
		#logo-banner {
			padding-top: 20px;
			.image {
				margin: auto;
				height: 70px;
				background-image: image-url("cuplogo2.png");
				background-size: 70px auto;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		
		#copy-container {
			padding-top: 40px;
			
			h1 {
				text-align: center;
				color: #fff;
				margin-top: 40px;
			}
			
			h5 {
				color: #fff;
				text-align: center;
			}
		}
		
		#cta-form {
			margin-top: 3px;
			padding-top: 15px;
			text-align: center;
			
			.button {
				padding-left: 80px;
				padding-right: 80px;
				font-size: 18px;
				text-align: center;
				color: #ABCD7B;
			}
		}
	}
}

#panel2 {
	
	.bg-container {
		height: 650px;
		max-width: $max-width;
		background-image: image-url('trackpad.jpg');
		background-size: $max-width auto;
		background-position: right;
		background-repeat: no-repeat;
		margin: auto;
	
		.container {
			padding-top: 60px;
			padding-bottom: 80px;
		
			h2 {
				color: #525252;
				font-weight: 300;
			}
		
			.eight.columns {
				h2 {
					font-weight: 600;
				}
			}
		
			.twelve.columns {
			
				h2 {
					margin-top: 60px;
					color: #525252;
					font-weight: 600;
					max-width: 600px;
				}
			
				p {
					color: #626262;
					font-size: 16px;
				}
			}
		}
	}
}

#panel3 {
	
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: $scouter-orange;
		background-image: image-url('dashed-line.png');
		background-size: auto 100%;
		background-position: right;
		background-attachment: fixed;
		background-repeat: no-repeat;
	
		.container {
			padding-top: 80px;
			padding-bottom: 60px;
			
			h2 {
				text-align: center;
				color: #fff;
				font-weight: 600;
				margin-bottom: 50px;
			}
			
			.full-span {
				width: 100%;
				display: inline-block;
		
				.columns {
					color: #fff;
					
					#form-icon {
						background-image: image-url('form-icon.png');
					}
					
					#clock-icon {
						background-image: image-url('clock-icon.png');
					}
					
					#cal-icon {
						background-image: image-url('cal-icon.png');
					}
				
					.image {
						margin: auto;
						height: 120px;
						width: 120px;
						background-size: 100%;
						margin-bottom: 40px;
					}
			
					h3 {
						margin-top: -5px;
						color: #fff;
					}
				
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
}

#panel4 {
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: $scouter-green;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding-top: 80px;
			padding-bottom: 80px;
			
			.ten.columns {
				h2:nth-child(1) {
					font-weight: 300;
				}
				h2 {
					color: transparentize(#fff, 0.1);
					font-weight: 600;
				}
			}
			
			#cta-button2 {
				margin-top: 0px;
				padding-top: 15px;
				text-align: center;
			
				.button {
					padding-left: 60px;
					padding-right: 60px;
					padding-top: 10px;
					padding-bottom: 10px;
					font-size: 24px;
					text-align: center;
					color: $scouter-green;
					background-color: transparentize(#fff, 0.1);
				}
				
				.button:hover {
					background-color: transparentize(#fff, 0.3);
				}
			}
		}
	}
}

#panel5 {
	
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #fff;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding-top: 60px;
			padding-bottom: 60px;
			
			h2 {
				color: #525252;
				text-align: center;
				font-weight: 600;
				margin-bottom: 40px;
			}
			
			#accordion .ui-state-focus{
			    outline: none;
			}
			
	        #accordion {
	          background-color: #fff;
	          margin: auto;
			  outline: none;
      
	          .ui-accordion-header {
	            background: #fff;
	            margin-bottom: 20px;
	          }
      
	          h3 {
	            font-size: 20px;
	            border: none;
	            color: #626262;
	          }
			  
			  h3:hover {
				  cursor: pointer;
			  }
      
	          div {
	            background-color: #fff;
	            border: none;
          
	            p {
	              color: $scouter-green; 
				  font-size: 18px;
	            }
	          }
	        }
		}
	}
}

@media only screen and (max-width: 1140px) {
	#panel2 {
		.bg-container {
			height: auto;
			background-size: 1200px auto;
			.container {
				h2 {
					padding-right: 100px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 34px;
		line-height: 38px;
	}
	
	h2 {
		font-size: 28px;
		line-height: 32px;
	}
	
	h3 {
		font-size: 22px;
		line-height: 26px;
	}
	
	#panel1 {
		background-image: image-url('dashed-line.png');
		background-color: $scouter-blue;
		background-position: right;
		background-attachment: fixed;
		height: auto;
		
		.container {
			
			#copy-container {
			}
		}
	}
	
	#panel2 {
		
		.bg-container {
			height: auto;
			background-image: none;
			background-color: #fff;
			
			.container {
				
				h2 {
					padding-right: 0;
				}
			}
		}
	}
	
	#panel3 {
		.bg-container {
			.container {
				
				.full-span {
					.columns {
						.image {
							margin-bottom: 15px;
						}
						
						h3 {
							margin-top: 0;
							text-align: center;
						}
						
						p {
							margin-bottom: 50px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	#panel4 {
		.bg-container {
			.container {
				h2 {
					text-align: center;
				}
				
				#cta-button2 {
					margin-top: 20px;
				}
			}
		}
	}
}