@import "variables.css.scss";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}

#user_promo_code {
	display: none;
	visibility: hidden;
}

.button {
	-webkit-appearance: none;
}

.definition {
	color: $scouter-link;
}

.definition:hover {
	cursor: pointer;
};

.dashed-hr {
	display: inline-block;
	height: 1px;
	margin: 20px auto;
	width: 100%;
	max-width: 480px;
	border-top: 1px dashed rgba(255,255,255,0.8);
}

h1 {
	font-family: $light-font;
	font-weight: 300;
}

h2 {
	font-family: $light-font;
	font-weight: 300;
	font-size: 40px;
	line-height: 46px;
}

h3 {
	font-family: $light-font;
	font-weight: 300;
}

p {
	font-size: 16px;
}

.bold-font {
	font-weight: 600;
}

.medium-font {
	font-weight: 400;
	font-family: $medium-font;
}

#alert-panel {
	position: absolute;
	top: 0;
	z-index: -1000;
	width: 100%;
	height: 50px;
	
	.bg-container {
		background: none;
		max-width: $max-width;
		margin: auto;
		
		.alert-bar {
			position: relative;
			height: 50px;
			width: 100%;
			background-color: $scouter-green-light;
	
			img {
				position: absolute;
				top: 17px;
				left: 10px;
			}
	
			img:hover {
				cursor: pointer;
			}
	
			.alert {
				padding: 15px;
				margin-left: 30px;
				color: #fff;
			}
		}
	}
}

#navbar-panel {
	background: none;
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 50px;
	
	.bg-container {
		position: relative;
		background-color: none;
		max-width: $max-width;
		margin: auto;
		.navbar {
			z-index: 10;
			position: absolute;
			top: 10px;
			right: 10px;
	
			.navbar-links {
				form {
					margin: 0px 3px;
					height: auto;
					display: inline-block;
				}
				
				.email {
					text-align: center;
					
					p {
						font-size: 14px;
						margin-bottom: 10px;
						display: inline-block; 
						color: #fff; 
						margin-right: 10px;
					}
				}
				
				input {
					width: 75px;
					height: 30px !important;
					-webkit-appearance: none;
					border: 1px solid #fff;
					background: none;
					color: #fff;
					text-shadow: none;
					font-family: $light-font;
					font-weight: 400;
					line-height: 11px;
					font-size: 14px;
					margin-bottom: 7px;
				}
		
				.navbar-link:hover {
					background-color: #fff;
					color: $scouter-blue;
				}
				
				.navbar-link:active {
					background-color: #eee;
				}
			}
		}
	}
}

.panel {
	background-color: #eee;
	.bg-container {
		margin: auto;
		background-color: #fff;
		max-width: $max-width;
		background-repeat: no-repeat;
		
		.container {
			
		}
	}
}

#panel1 {
	
	.bg-container {
		background-image: image-url("mousehand5.jpg");
		background-size: $max-width auto;
		background-position: center bottom;
		background-repeat: no-repeat;
		height: 650px;
	
		.container {
			padding-top: 50px;
			padding-bottom: 80px;
			
			.columns {
			}
		
			#copy-container {
				margin-top: 40px;
			
				h1 {
					text-align: center;
					color: #fff;
					margin: auto;
					margin-bottom: 10px;
					max-width: 600px;
				}
			
				h5 {
					color: #fff;
					text-align: center;
				}
			}
		
			#cta-form {
				margin-top: 3px;
				text-align: center;
				
				form {
					margin-bottom: 5px;
				}
				
				.button {
					padding: 10px 40px;
				}
				
				.browse-therapist-button {
					margin-bottom: 0px;
					width: 260px;
					height: 44px !important;
					-webkit-appearance: none;
					border: 1px solid #fff;
					background-color: #fff;
					color: $scouter-blue !important;
					text-shadow: none;
					font-family: $light-font;
					font-weight: 400;
					font-size: 18px !important;
				}
				
				.button:hover {
					background-color: rgba(255,255,255,0.8);
				}
			
				#secure-notice {
					font-size: 12px;
					color: #fff;
					opacity: 0.9;
				}
			
				.error_explanation {
					color: #fff;
					font-weight: 600;
				
					ul {
						margin-bottom: 10px;
						li {
							font-size: 13px;
							font-weight: 200;
							margin-bottom: 2px;
						}
					}
				}
			
				#new_user {
					text-align: center;
					margin: auto;
					width: 260px;
				
					input {
						height: 38px;
						width: 100%;
						font-size: 15px;
						color: #525252;
						text-align: center;
						margin-bottom: 10px;
						border: 0px;
						padding-left: 0px;
						padding-right: 0px;
					}
				
					.field_with_errors {
						input {
							height: 38px !important;
						}
					}
				
					.submit_button_white {
						height: 40px;
						width: 100%;
						color: $scouter-green;
						font-size: 16px;
						font-weight: 200;
						background-color: #fff;
						border-width: 1px;
						border-style: solid;
						border-color: $scouter-green;
					}
				
					.field_with_errors {
						input {
							height: 20px;
							width: 100%;
							text-align: center;
							margin-bottom: 10px;
							border: 0px;
						}
					}
				}
			}
		}
	}
}

#panel2 {
	
	.bg-container {
		background-position: right center;
		background-size: $max-width auto;
	
		.container {
			padding-top: 90px;
			padding-bottom: 110px;
			
			.columns {
				h2 {
					color: #525252;
					padding-top: 20px;
				}
				
				p {
					color: #525252;
					font-size: 16px;
				}
				
				#matt {
					position: absolute;
					top: 70px;
					right: 30px;
					width: 280px;
					height: auto;
				}
			}
			
			.text-container {
				padding-right: 50px;
			}
			
			.chat-ui-container {
				max-width: 450px;
				
				.messages-panel {
					padding: 30px;
					border-radius: 10px;
					@include stripe-background-medium;
					#messages {
						position: relative;
						overflow-y: scroll;
						margin: auto;
						height: 100%;
		
						.messages-container {
			
							.note {
								margin-bottom: 0px;
								margin-top: 15px;
								color: $scouter-green;
								strong {
									color: #727272;
								}
							}
			
							.message-container {
								margin-bottom: 10px;
						
								.you {
									.message {
										@include blue-gradient;
										color: #fff;
									}
								}
								.them {
									text-align: right;
									.message {
										text-align: left;
										float: right;
										@include green-gradient;
										color: #fff;
									}
								}
			
								li {
									margin-bottom: 0px;
									
									span {
										font-size: 13px;
										color: rgba(0,0,0,0.5);
									}
								}
			
								.message-wrapper {
									overflow: auto;
									width: 100%;
				
									.message {
										max-width: 300px;
										display: inline-block;
										min-width: 50px;
										overflow: auto;
										font-size: 15px;
										margin-top: 5px;
										padding: 12px;
										border-radius: 8px;
		
										p {
											margin: 0px;
											color: #fff;
											display: block;
										}
									}
								}
							}
						}
					}
				}	
			}
			// END CHATROOM CSS .chat-ui-container
		}
	}
}

#how-it-works {
	.bg-container {
		background-color: $scouter-orange;
		
		.container {
			text-align: center;
			padding-top: 80px;
			
			#how-header {
				h1 {
					color: #fff !important;
				}
	
				h2 {
					font-weight: 600;
					margin-bottom: 5px;
					color: #fff !important;
				}
				h5 {
					color: #fff;
				}
			}
		}
	}
	
	hr {
		border-top: 1px dashed rgba(255,255,255,0.8);
		margin: 30px auto;
		height: 1px;
		display: block;
	}
}

#how-panel {
	.bg-container {
		background-image: image-url('trackpad.jpg');
		background-position: right bottom;
		background-size: $max-width auto;
		
		.container {
		}
	}
}

.panel3 {
	
	.bg-container {
		background-color: #fff;
		background-size: auto 100%;
	
		.container {
			padding-top: 120px;
			padding-bottom: 80px;
			
			#how-header {
				h1 {
					color: #525252;
					margin-bottom: 10px;
				}
			
				h2 {
					color: #525252;
					font-size: 30px;
					line-height: 34px;
					margin-bottom: 0px;
				}
				
				h2:nth-child(2) {
					font-weight: 600 !important;
				}
			}
			
			.columns {
				color: #fff;
				padding-bottom: 15px;
				padding-top: 15px;
			
				#form-icon {
					background-image: image-url('form-icon.png');
				}
			
				#clock-icon {
					background-image: image-url('clock-icon.png');
				}
			
				#cal-icon {
					background-image: image-url('contact-icon.png');
				}
		
				.image {
					margin: auto;
					height: 120px;
					width: 120px;
					background-size: 100%;
					margin-bottom: 40px;
				}
	
				h3 {
					font-weight: 600;
					margin-top: -5px;
					color: $scouter-teal-fade;
				}
		
				p {
					font-size: 16px;
					color: #525252;
				}
			}
		}
	}
}

//cta styling

#panel5 {
	
	.bg-container {
		background-color: #fff;
		background-size: 100% auto;
		
		.container {
			padding-top: 80px;
			padding-bottom: 100px;
			
			h2 {
				color: #525252;
				text-align: center;
				margin-bottom: 40px;
			}
			
			#accordion .ui-state-focus{
			    outline: none;
			}
			
      #accordion {
				font-family: "HelveticaNeue", "Helvetica", Arial;
        background-color: #fff;
        margin: auto;
	  		outline: none;
  
        .ui-accordion-header {
          background: #fff;
          margin-bottom: -1px;
					margin-top: 0px;
					padding-top: 20px;
					padding-bottom: 20px;
					
					.ui-accordion-header-icon {
						opacity: 0.2;
					}
        }
				
				.ui-accordion-header:hover {
					color: #aaa;
				}
				
				.ui-accordion-content {
					box-shadow: inset 0px 5px 2px rgba(220, 220, 220, 0.15);
					margin-top: 0px;
					margin-bottom: 0px;
					padding-left: 45px;
					padding-top: 60px;
					padding-bottom: 60px;
				}
				
				@media only screen and (max-width: 767px) {
					.ui-accordion-content {
						padding: 30px 5px;
					}
					
					.ui-accordion-header {
						font-size: 18px;
					}
	
					.ui-accordion-content p {
						font-family: $medium-font;
						font-size: 16px;
						line-height: 22px;
					}
	
					.ui-accordion-content li a {
						font-size: 15px;
					}
				}
  
        h3 {
					font-family: $medium-font;
          font-size: 20px;
          border: none;
          color: #626262;
					border-bottom: 1px dashed #ddd;
					border-top: 1px dashed #ddd;
					border-radius: 0px;
        }
	  
			  h3:hover {
				  cursor: pointer;
			  }
  
        div {
          background-color: #fff;
          border: none;
      
          p {
						font-family: $medium-font;
            color: $scouter-blue-fade; 
		  			font-size: 20px;
						line-height: 36px;
						margin: 0px 0px;
          }
					
					li {
						margin: 0px;
					}
					
					a {
						@extend p;
						color: #aaa;
						text-decoration: none;
					}
					
					li a {
						@extend p;
						color: #aaa;
						text-decoration: none;
					}
					
					li a:hover {
						color: #ccc;
					}
					
					span {
						@extend p;
					}
        }
      }
		}
	}
}

//***** Privacy Styling *****//

.white-panel {
	.bg-container {
		background-size: 100% auto;
		
		.container {
			padding: 80px 0px;
			
			.columns {
								
				h5 {
					font-size: 18px;
					color: #424242;
					margin-bottom: 10px;
				}
				
				p {
					font-size: 16px;
					line-height: 26px;
					color: #424242;
				}
				
				hr {
					margin-bottom: 10px;
					border-style: dotted;
					color: #212121;
				}
			}
		}
	}
}

//***** Responsive *****//

@media only screen and (max-width: 1140px) {
	#panel2 {
		.bg-container {
			height: auto;
			background-size: 1140px auto;
			background-position: right;
			.container {
				h2 {
				}
			}
		}
	}
	
	#how-panel {
		.bg-container {
			.container {
			}
		}
	}
	
	#cta-white {
		.bg-container {
			background-image: none;
		}
	}
}

@media only screen and (max-width: 960px) {
	#panel2 {
		.bg-container {
			background-position: right bottom;
			
			.container {
				.columns {
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	#navbar-panel {
		display: block;
		position: relative;
		background-color: $scouter-blue;
	}
	
	h1 {
		font-family: $medium-font;
		font-size: 34px;
		line-height: 38px;
	}
	
	h2 {
		font-family: $medium-font;
		font-size: 28px;
		line-height: 32px;
	}
	
	h3 {
		font-family: $medium-font;
		font-size: 22px;
		line-height: 26px;
	}
	
	p {
		font-size: 15px;
		line-height: 19px;
	}
	
	#panel1 {
		background-color: $scouter-blue;
		background-position: right;
		background-attachment: fixed;
		height: auto;
		
		.container {
			
			#copy-container {
			}
		}
	}
	
	#panel2 {
		position: relative;
		
		.bg-container {
			@include stripe-background-medium;
			background-position: bottom center;
			background-color: #fff;
			
			.container {
				padding-right: 0px;
				padding-top: 60px;
				padding-bottom: 60px;
				
				h2 {
					padding-right: 0;
				}
				.columns {
				}
				
				.text-container {
					padding-right: 0px;
				}
				
				.image-container {
					text-align: center;
					
					#matt {
						text-align: center;
						position: static;
						margin: auto;
						padding-top: 30px;
						
					}
				}
			}
			#example-feed {
				width: 100%;
				height: 200px;
				border-left: 1px solid #ddd;
				position: absolute;
				bottom: 0;
				top: auto;
		
				.feed-header {
				}
		
				.feed-container {
				
					.feed-item {
						max-width: 200px;
					}
			
					i {
						font-size: 12px;
						color: #aaa;
					}
				}
			}
		}
	}
	
	#how-panel {
		.bg-container {
			background-image: none;
			.container {
			}
		}
	}
	
	.cta {
		text-align: center;
		
		.bg-container {
			.container {
				.columns {
					
					h2 {
						line-height: 36px;
						font-size: 26px !important;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#navbar-panel {
		.bg-container {
			padding-top: 10px;
			text-align: center;
			background: none;
			.navbar {
				position: static;
				
				.navbar-links {
					.email {
						p {
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
	
	.columns {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
	#panel1 {
		.bg-container {
			background-position: bottom;
			height: 600px;
			background-size: cover;
			background-image: image-url("mousehand-mobile.jpg");
			.container {
				#copy-container {
					margin-top: 10px;
					h1 {
					}
				}
			}
		}
	}
	
	#panel2 {
		.bg-container {
			
			.container {
				
				.chat-ui-container {
					max-width: 450px;
				
					.messages-panel {
						padding: 30px 0px;
					}
				}
			}
		}
	}
	
	#how-it-works {
		.bg-container {
		
			.container {
			
				#how-header {
					h1 {
						font-size: 34px;
					}
	
					h2 {
						font-size: 24px !important;
						line-height: 28px;
					}
					h5 {
						font-size: 20px !important;
						line-height: 20px;
					}
				}
			}
		}
	}
}