@import "variables.css.scss";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}

.button {
	-webkit-appearance: none;
}

.definition {
	color: $scouter-link;
}

.definition:hover {
	cursor: pointer;
};

#panel1 {
	background-image: image-url("mousehand5.jpg");
	background-size: $max-width auto;
	background-position: top;
	background-repeat: no-repeat;
	height: 700px;
	
	.container {
		padding-bottom: 80px;
		#logo-banner {
			padding-top: 20px;
			text-align: center;
			.image {
				margin: auto;
				height: 70px;
				background-image: image-url("cuplogo2.png");
				background-size: 70px auto;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		
		#copy-container {
			padding-top: 20px;
			
			h1 {
				text-align: center;
				color: #fff;
				margin: auto;
				margin-top: 40px;
				margin-bottom: 5px;
				max-width: 600px;
			}
			
			h5 {
				color: #fff;
				text-align: center;
			}
		}
		
		#cta-form {
			margin-top: 3px;
			padding-top: 40px;
			text-align: center;
			
			#secure-notice {
				font-size: 12px;
				color: #fff;
				opacity: 0.9;
			}
			
			#error_explanation {
				color: #fff;
				font-weight: 600;
				
				.alert {
					
				}
				
				ul {
					margin-bottom: 10px;
					
					li {
						font-size: 13px;
						font-weight: 200;
						margin-bottom: 2px;
					}
				}
			}
			
			#new_user {
				text-align: center;
				margin: auto;
				width: 260px;
				
				input {
					height: 38px;
					width: 100%;
					text-align: center;
					margin-bottom: 10px;
					border: 0px;
					padding-left: 0px;
					padding-right: 0px;
				}
				
				.submit_button_white {
					height: 40px;
					width: 100%;
					color: $scouter-green;
					font-size: 16px;
					font-weight: 200;
					background-color: #fff;
					border-width: 1px;
					border-style: solid;
					border-color: $scouter-green;
				}
				
				.field_with_errors {
					input {
						height: 20px;
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
						border: 0px;
					}
				}
			}
			
			.alert-success {
				color: #fff;
			}
			
			.alert-failure {
				margin: auto;
				color: #fff;
				max-width: 300px;
			}
			
			.button {
				padding-left: 80px;
				padding-right: 80px;
				font-size: 18px;
				text-align: center;
				color: #ABCD7B;
			}
		}
	}
}

#panel2 {
	
	.bg-container {
		height: 680px;
		max-width: $max-width;
		background-image: image-url('trackpad.jpg');
		background-size: $max-width auto;
		background-position: right;
		background-repeat: no-repeat;
		margin: auto;
	
		.container {
			padding-top: 110px;
			padding-bottom: 90px;
		
			h2 {
				color: #525252;
				font-weight: 600;
			}
			
			.pop-over {
				position: absolute;
				background-color: #eee;
				padding: 15px 15px;
				font-size: 20px;
				font-weight: 600;
				border-radius: 10px;
				color: #626262;
				box-shadow: 4px 5px 2px rgba(0,0,0,0.15);
				max-width: 600px;
				line-height: 30px;
				display: none;
				opacity: 0;
			}
			
			@media only screen and (max-width: 480px) {
				.pop-over {
					left: 0;
					width: 100%;
				}
			}
		
			.eight.columns {
				h2 {
					padding-top: 50px;
				}
			}
		
			.twelve.columns {
			
				h2 {
					margin-top: 60px;
					color: #525252;
					max-width: 600px;
				}
			
				p {
					color: #626262;
					font-size: 16px;
				}
			}
		}
	}
}

#panel3 {
	
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: $scouter-orange;
		//background-image: image-url('dashed-line.png');
		background-size: auto 100%;
		background-position: right;
		background-attachment: fixed;
		background-repeat: no-repeat;
	
		.container {
			padding-top: 80px;
			padding-bottom: 60px;
			
			h2 {
				text-align: center;
				color: #fff;
				font-weight: 600;
				margin-bottom: 50px;
			}
			
			.full-span {
				width: 100%;
				display: inline-block;
		
				.columns {
					color: #fff;
					padding-bottom: 15px;
					padding-top: 25px;
					
					#form-icon {
						background-image: image-url('form-icon.png');
					}
					
					#clock-icon {
						background-image: image-url('clock-icon.png');
					}
					
					#cal-icon {
						background-image: image-url('cal-icon.png');
					}
				
					.image {
						margin: auto;
						height: 120px;
						width: 120px;
						background-size: 100%;
						margin-bottom: 40px;
					}
			
					h3 {
						margin-top: -5px;
						color: #fff;
					}
				
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
}

//cta styling

#panel5 {
	
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #fff;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding-top: 80px;
			padding-bottom: 100px;
			
			h2 {
				color: #525252;
				text-align: center;
				font-weight: 600;
				margin-bottom: 40px;
			}
			
			#accordion .ui-state-focus{
			    outline: none;
			}
			
      #accordion {
				font-family: "HelveticaNeue", "Helvetica", Arial;
        background-color: #fff;
        margin: auto;
	  		outline: none;
  
        .ui-accordion-header {
          background: #fff;
          margin-bottom: -1px;
					margin-top: 0px;
					padding-top: 20px;
					padding-bottom: 20px;
					
					.ui-accordion-header-icon {
						opacity: 0.2;
					}
        }
				
				.ui-accordion-content {
					box-shadow: inset 0px 5px 3px rgba(220, 220, 220, 0.15);
					margin-top: 0px;
					margin-bottom: 0px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
  
        h3 {
          font-size: 20px;
          border: none;
          color: #626262;
					border-bottom: 1px dashed #ddd;
					border-top: 1px dashed #ddd;
					border-radius: 0px;
        }
	  
			  h3:hover {
				  cursor: pointer;
			  }
  
        div {
          background-color: #fff;
          border: none;
      
          p {
            color: $scouter-blue-fade; 
		  			font-size: 18px;
						margin: 0px 0px;
          }
					
					li {
						margin: 0px;
					}
					
					li a {
						color: #aaa;
						font-size: 18px;
						line-height: 22px;
					}
        }
      }
		}
	}
}

//***** Privacy Styling *****//

.white-panel {
	.bg-container {
		max-width: $max-width;
		margin: auto;
		background-color: #fff;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		.container {
			padding: 80px 0px;
			
			.columns {
								
				h5 {
					font-size: 18px;
					color: #424242;
					font-weight: 600;
					margin-bottom: 10px;
				}
				
				p {
					font-size: 16px;
					line-height: 26px;
					color: #424242;
				}
				
				hr {
					margin-bottom: 10px;
					border-style: dotted;
					color: #212121;
				}
			}
		}
	}
}

//***** Responsive *****//

@media only screen and (max-width: 1140px) {
	#panel2 {
		.bg-container {
			height: auto;
			background-size: 1200px auto;
			.container {
				padding-top: 60px;
				padding-bottom: 80px;
				h2 {
					padding-right: 100px;
				}
			}
		}
	}
	
	#cta-white {
		.bg-container {
			background-image: none;
		}
	}
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 34px;
		line-height: 38px;
	}
	
	h2 {
		font-size: 28px;
		line-height: 32px;
	}
	
	h3 {
		font-size: 22px;
		line-height: 26px;
	}
	
	p {
		font-size: 15px;
		line-height: 19px;
	}
	
	#panel1 {
		background-color: $scouter-blue;
		background-position: right;
		background-attachment: fixed;
		height: auto;
		
		.container {
			
			#copy-container {
			}
		}
	}
	
	#panel2 {
		
		.bg-container {
			height: auto;
			background-image: none;
			background-color: #fff;
			
			.container {
				text-align: center;
				padding-top: 50px;
				padding-bottom: 70px;
				
				h2 {
					padding-right: 0;
				}
				.columns {
				}
			}
		}
	}
	
	#panel3 {
		.bg-container {
			.container {
				
				.full-span {
					.columns {
						padding-top: 5px;
						padding-bottom: 5px;
						.image {
							margin-bottom: 15px;
						}
						
						h3 {
							margin-top: 0;
							text-align: center;
						}
						
						p {
							margin-bottom: 50px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	.cta {
		text-align: center;
		
		.bg-container {
			.container {
				.columns {
					
					h2 {
						line-height: 36px;
						font-size: 26px !important;
					}
				}
			}
		}
	}
	
	.ui-accordion-header {
		font-size: 18px !important;
	}
	
	.ui-accordion-content p {
		font-size: 15px !important;
	}
	
	.ui-accordion-content li a {
		font-size: 15px !important;
	}
}

@media only screen and (max-width: 480px) {
	.footer {
		
		.bg-container {
			
			.container {
				text-align: center;
				
				.column {
					margin-bottom: 30px;
				}
			}
		}
	}
}