@import "variables.css.scss";

.navbar {
	position: fixed;
	z-index: 1000;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.07);
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	p {
		margin: 0px;
		
		strong {
			color: rgba(0,0,0,0.8);
		}
	}
}

.navbar-text {
	color: rgba(0,0,0,0.5);
	display: inline-block;
	padding: 15px 15px;
	margin-bottom: 0px;
}

.alert {
	@extend .navbar-text
}

.navbar-links {
	color: rgba(0,0,0,0.5);
	display: inline-block;
	float: right;
	padding: 15px 15px;
	margin-bottom: 0px;
	a {
		text-decoration: none;
		color: rgba(0,0,0,0.5);
	}
}