@import "variables.css.scss";

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.07);
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	p {
		margin: 0px;
		
		strong {
			color: rgba(0,0,0,0.8);
		}
	}
}

.navbar-text {
	color: rgba(0,0,0,0.5);
	display: inline-block;
	padding: 15px 15px;
	margin-bottom: 0px;
}

.alert {
	@extend .navbar-text
}

.navbar-links {
	color: rgba(0,0,0,0.5);
	display: inline-block;
	float: right;
	padding: 15px 15px;
	margin-bottom: 0px;
	a {
		text-decoration: none;
		color: rgba(0,0,0,0.5);
	}
}

.spacer {
	display: block;
	width: 100%;
	height: 40px;
}

.email-dropbox {
	display: none;
	text-align: center;
	input {
		text-align: center;
		margin: auto;
		padding: 10px;
		width: 200px;
		height: 40px;
		margin-bottom: 10px;
		-webkit-appearance: none;
	}
	
	.button {
		margin-top: 0px;
		@include submit-button-white
	}
	
	.button:hover {
		color: $scouter-green-light;
	}	
}

.image-panel {
	.bg-container {
		background-image: image-url('hiking.JPG');
		background-size: cover;
		height: 120px;
		background-attachment: fixed;
		.container {
			text-align: center;
			h1 {
				line-height: 120px;
				font-weight: 200;
				color: rgba(255,255,255,0.9);
				font-size: 60px;
				margin: auto;
			}
		}
		div {
			background-color: rgba(0,0,0,0.1);
			height: 100%;
			width: 100%;
		}
	}
}

.profile-link-panel {
	height: 345px;
	position: relative;
	overflow: hidden;
	
	.bg-container {
		box-shadow: 0px 4px 4px rgba(0,0,0,0.08);
		height: $profile-index-height;
		overflow: hidden;
		padding: 0px;
		height: 100%;
		
		.inner-container:hover {
			cursor: pointer;
			background-color: #f9f9f9;
			box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
			
			.container {
				.columns {
					.profile-link-container {
						h3 {
							color: $scouter-green;
							span {
								color: $scouter-green;
							}
						}
						p {
							color: $scouter-green;
						}
					}
				}
			}
		}

		.inner-container {
			position: absolute;
			box-shadow: 0px 2px 1px rgba(0,0,0,0.08);
			z-index: 2;
			top: 0px;
			padding: 50px 0px;
			background-color: #fff;
			width: 100%;
			height: $profile-index-height;
			
			.tap-plus-sign {
				position: absolute;
				font-size: 36px;
				color: #ddd;
				right: 10px;
				bottom: 15px;
			}

			.four {
				.cta-button-white {
					margin: auto;
					text-align: center;
					
					.button {
						margin-bottom: 12px;
						background-color: #fff;
						font-family: $light-font;
						border-radius: 5px;
						width: 180px;
						font-weight: 200;
						padding-left: 30px;
						padding-right: 30px;
						padding-top: 10px;
						padding-bottom: 10px;
						font-size: 18px;
						text-align: center;
						border: 1px solid $scouter-green;
						text-shadow: none;
						color: $scouter-green;
					}
			
					.button:hover {
						background-color: #eee;
					}
				}
			}
	
			.twelve {
				h3 {
					margin-bottom: 5px;
					font-size: 24px;
					font-weight: 600;
					color: $scouter-teal-fade;
					opacity: 0.8;
					line-height: 24px;
					font-family: "HelveticaNeue-Light";
					
					span {
						list-style: none;
						font-family: $medium-font;
						font-weight: 400;
						font-size: 18px;
						line-height: 20px;
						color: #aaa;
						margin-bottom: 5px;
					}
				}
		
				li {
					list-style: none;
					font-size: 18px;
					line-height: 20px;
					color: #aaa;
					margin-bottom: 10px;
				}
		
				.card-bio {
					color: #aaa;
					line-height: 18px;
					font-size: 14px;
					max-height: 180px;
					overflow: hidden;
					margin-bottom: 0px;
				}
			}
		}
		
		.gen-header {
			max-width: $max-width;
			z-index: 1;
			position: absolute;
			bottom: 0px;
			//overflow-y: scroll;
			padding: 30px 0px;
			width: 100%;
			height: 460px;
			background-color: $scouter-blue;
			.columns {
				text-align: center;
				a {
					text-align: center;
				}
			}
			
			.container {
				text-align: center;
				
				hr {
					margin: 10px 0px;
					border-top: 1px dashed rgba(255,255,255,0.5);
				}
				
				.calendar-form-container {
					.sixteen {
						h1 {
							margin: 5px auto;
							font-size: 28px;
							color: #fff;
							line-height: 28px;
						}
					}
					
					.datepicker-container {
						padding: 15px 0px;
					}
				
					.form-container {
						padding: 15px 0px;
						form {
							label {
								color: #fff;
							}
							input {
								border: none;
								width: 200px;
								height: 35px;
								text-align: center;
								margin: auto;
								margin-bottom: 5px;
							}
						
							.submit_button_white {
								margin-top: 10px;
								margin-left: 0px;
								height: 44px;
								width: 202px;
								color: $scouter-green;
								font-size: 16px;
								font-weight: 200;
								background-color: #fff;
								border-width: 1px;
								border-style: solid;
								border-color: $scouter-green;
							}
						}
					}
				}
				
				.profile-more-container {
					hr {
						margin: 5px 0px;
					}
					
					h1 {
						margin-bottom: 0px;
						text-align: left;
					}
					
					p {
						text-align: left;
						color: #fff;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1320px) {
	.profile-link-panel {
		.bg-container {
			.inner-container {
				margin-left: -4px;
				max-width: 1328px;
			}
		}
	}
}

//ipad specific
@media only screen and (max-width: 1024px) {
	.image-panel {
		.bg-container {
		}
	}
}

@media only screen and (max-width: 960px) {
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			.inner-container {
				height: 350px;
				
				.tap-plus-sign {
					top: 300px;
					right: 10px;
				}
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
						height: 170px;
						width: 170px;
					}
				}
				.columns {
					
					h3 {
						font-size: 22px;
						span {
							display: block;
							font-size: 18px;
							width: 100%;
						}
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.gen-header {
				height: 500px;
			}
		}
	}
	
	.datepicker-container {
		div {
			margin: auto;
		}
	}
}

@media only screen and (max-width: 767px) {
	.image-panel {
		.bg-container {
			background-image: none;
			background-color: #ddd;
			height: 80px;
			.container {
				h1 {
					font-family: $light-font;
					font-weight: 200;
					line-height: 80px;
					font-size: 48px;
				}
			}
		}
	}
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			.inner-container {
				height: 500px;
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
						height: 100px;
						width: 100px;
					}
				}
				.columns {
					
					h3 {
						font-size: 22px;
						span {
							display: block;
							font-size: 18px;
							width: 100%;
						}
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.gen-header {
				height: 700px;
				
				.spacer {
					height: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			.inner-container {
				height: 650px;
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
						height: 100px;
						width: 100px;
					}
				}
				.columns {
					
					h3 {
						text-align: center;
						margin-bottom: 0px;
						font-size: 20px;
						span {
							display: block;
							font-size: 16px;
							color: #828282;
							width: 100%;
							margin-bottom: 0px;
						}
					}
					
					p {
						margin-top: 5px;
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.gen-header {
				height: 700px;
			}
		}
	}
}