@import "variables.css.scss";

.spacer {
	display: block;
	width: 100%;
	height: 40px;
}

.email-dropbox {
	display: none;
	text-align: center;
	input {
		text-align: center;
		margin: auto;
		padding: 10px;
		width: 200px;
		height: 40px;
		margin-bottom: 10px;
		-webkit-appearance: none;
	}
	
	.button {
		margin-top: 0px;
		@include submit-button-white
	}
	
	.button:hover {
		color: $scouter-green-light;
	}	
}

.email-dropbox-landing {
	margin-top: 50px;
	display: block;
	label {
		color: #fff;
	}
	
	input {
		text-align: center;
		padding: 10px;
		width: 200px;
		height: 40px;
		margin-bottom: 10px;
		-webkit-appearance: none;
	}
	
	.button {
		margin-top: 0px;
		@include submit-button-white
	}
	
	.button:hover {
		color: $scouter-green-light;
	}	
}

.image-panel {
	.bg-container {
		background-color: #eee;
		background-size: cover;
		height: 10px;
		background-attachment: fixed;
		.container {
			text-align: center;
			h1 {
				line-height: 120px;
				font-weight: 200;
				color: rgba(255,255,255,0.9);
				font-size: 60px;
				margin: auto;
			}
		}
		div {
			height: 100%;
			width: 100%;
		}
	}
}

.profile-link-panel {
	height: auto;
	position: relative;
	overflow: hidden;
	
	.bg-container {
		overflow: hidden;
		padding: 0px;
		height: 100%;

		.top-panel {
			z-index: 2;
			top: 0px;
			padding-top: 50px;
			padding-bottom: 50px;
			background-color: #fff;
			width: 100%;
			max-width: $max-width;
			
			

			.four {
				text-align: center;
				
				img {
					border-radius: 100px;
					border: 1px solid #eee;
					width: 150px;
					height: 150px;
				}
				
				.cta-button-white {
					margin: auto;
					text-align: center;

				}
			}
	
			.twelve {
				h3 {
					margin-bottom: 5px;
					font-size: 24px;
					font-weight: 600;
					color: $scouter-teal-fade;
					opacity: 0.8;
					line-height: 24px;
					font-family: $medium-font;
					
					span {
						list-style: none;
						font-family: $medium-font;
						font-weight: 400;
						font-size: 18px;
						line-height: 20px;
						color: #aaa;
						margin-bottom: 5px;
					}
				}
		
				li {
					list-style: none;
					font-size: 14px;
					line-height: 18px;
					color: #626262;
					margin-bottom: 0px;
				}
				
				.bio-container {
					margin-top: 5px;
					height: auto;
					
					.card-bio {
						color: #626262;
						line-height: 18px;
						font-size: 14px;
						max-height: 180px;
						margin-bottom: 0px;
					}
				}
			}
		}
		
		.bottom-panel {
			max-width: $max-width;
			z-index: 1;
			bottom: 0px;
			padding-top: 50px;
			padding-bottom: 50px;
			width: 100%;
			height: auto;
			background-color: $scouter-blue;
			
			.container {
				text-align: center;
				
				hr {
					margin: 5px 0px;
					border-top: 1px dashed rgba(255,255,255,0.5);
				}
			
				.form-container {
					
					form {
						margin-bottom: 0px;
						text-align: left;
						
						h3 {
							color: #fff;
						}
						
						label {
							color: #fff;
							margin-bottom: 5px;
							opacity: 0.9;
							
							span {
								color: #fff;
							}
						}
						
						.container {
							
							p {
								font-size: 24px;
								font-weight: 600;
								padding-right: 10px;
								color: #fff;
								display: inline-block;
							}
						}
						
						input {
							border: 1px solid #eee;
							padding: 0px 15px;
						}
						
						input:focus {
							border: 1px solid #ccc;
						}
					
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1320px) {
	.profile-link-panel {
		.bg-container {
			.top-panel {
			}
		}
	}
}

//ipad specific
@media only screen and (max-width: 1024px) {
	.image-panel {
		.bg-container {
		}
	}
}

@media only screen and (max-width: 960px) {
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			.top-panel {
				
				.tap-plus-sign {
				}
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
					}
				}
				.columns {
					
					h3 {
						font-size: 22px;
						span {
							display: block;
							font-size: 18px;
							width: 100%;
						}
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.bottom-panel {
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.image-panel {
		.bg-container {
			background-image: none;
			background-color: #eee;
			height: 10px;
			.container {
				h1 {
					font-family: $light-font;
					font-weight: 300;
					line-height: 80px;
					font-size: 48px;
				}
			}
		}
	}
	
	#tutorial-popup {
		.bg-container {
			.container {
				.header-container {
					h2 {
						margin-bottom: 10px;
					}
				}
				.content-container {
					height: auto;
					text-align: center;
					
					.image-container {
						
					}
					
					.text-container {
						padding-left: 0px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			
			.top-panel {
				
				.tap-plus-sign {
				}
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
						height: 125px;
						width: 125px;
						margin-bottom: 40px;
					}
				}
				.columns {
					
					h3 {
						font-size: 22px;
						span {
							display: block;
							font-size: 18px;
							width: 100%;
						}
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.bottom-panel {
				
				.spacer {
					height: 0px;
				}
				
				.container {
					.form-container {
						form {
							.datetime-container {
								.date-field {
									width: 150px;
								}
								.time-field {
									width: 150px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	
	.profile-link-panel {
		overflow: hidden;
		.bg-container {
			height: auto;
			.top-panel {
				
				.therapist-image-container {
					text-align: center;
					img {
						margin: auto;
						margin-bottom: 30px;
					}
				}
				.columns {
					
					h3 {
						text-align: center;
						margin-bottom: 0px;
						font-size: 20px;
						span {
							display: block;
							font-size: 16px;
							color: #828282;
							width: 100%;
							margin-bottom: 0px;
						}
					}
					
					p {
						margin-top: 5px;
					}
					
					.profile-link-container {
						.card-bio {
							max-height: none;
						}
					}
				}
			}
			
			.bottom-panel {		
						
				.container {
					.form-container {
						form {
							.datetime-container {
								.date-field {
									width: 120px;
								}
								.time-field {
									width: 120px;
								}
							}
						}
					}
				}
				
			}
		}
	}
}