@import 'variables.css.scss';

.hidden-check {
	display: none !important;
}

.css-check {
	-webkit-appearance: none;
	display: inline-block !important;
	border: 1px solid #ccc;
	margin-left: 0px;
	margin-right: 0px;
	width: 17px !important;
	height: 17px;
	padding: 0px !important;
}

.css-check:checked {
	-webkit-appearance: checkbox;
	border-radius: 10px;
	border: 2px solid $scouter-green-light;
}

.ui-datepicker-week-end {
	tr {
		th {
			display: block;
			width: 30%;
		}
	}
}

.ui-datepicker {
	margin-top: 10px;
	@extend .ui-datepicker-inline;
}

.ui-datepicker-inline {
	margin: auto;
	padding: 8px;
	width: 300px;
	border: 1px solid $scouter-blue;
	background: none;
	background-color: #fff;
	
	.ui-datepicker-header {
		border: 1px solid $scouter-blue;
		background: none;
		background-color: #fff;
		
		.ui-datepicker-prev {
			left: 3px;
			top: 3px;
		}
		
		.ui-datepicker-next {
			right: 3px;
			top: 3px;
		}
		
		.ui-state-hover {
			background: none;
			border: 1px solid $scouter-blue;
		}
		
		.ui-datepicker-title {
			span {
				color: $scouter-blue;
				font-family: $light-font;
				font-weight: 300;
				font-size: 18px;
			}
		}
	}
	
	.ui-datepicker-calendar {
		background-color: #fff;
		color: $scouter-blue;
		font-family: $light-font;
		font-weight: 300;
		
		.thead {
		}
		
		tbody {
			tr {
				.ui-datepicker-current-day {
					background-color: $scouter-green-superlight;
					
					a {
						background-color: $scouter-green-superlight;
						color: #fff;
						font-weight: 600;
					}
				}
				td {
					
					border: 1px solid $scouter-blue;
					margin: 2px;
					padding: 2px;
					width: 14%;
					text-align: center;
					a {
						font-size: 14px;
						line-height: 28px;
						width: 100%;
						text-align: center;
						background: none;
						background-color: #fff;
						color: $scouter-blue;
						font-weight: 400;
						border: none;
						margin: auto;
					}
				}
				
				td:hover {
					border: 1px solid $scouter-blue;
					background-color: #eee;
					a {
						background-color: #eee;
					}
				}
				
				.ui-datepicker-unselectable {
					background-color: #f5f5f5;
					text-align: center;
					opacity: 0.6;
					
					span {
						color: #828282;
						text-align: center;
						background: none;
						border: none;
					}
				}
			}
		}
		
		span {
			@extend .ui-datepicker-calendar;
		}
	}
}

.ui-widget-overlay {
	background: #525252;
}

.ui-dialog {
	font-family: $medium-font;
	width: 500px !important;
	padding: 10px;
	border: none;
	border-radius: 0px;
	top: 25% !important;
	left: 50% !important;
	margin-left: -250px !important;
	position: fixed;
	
	.ui-dialog-titlebar {
		background: #fff;
		border: none;
		
		span {
			color: $scouter-blue-fade;
		}
		
		button {
			border-radius: 0px;
			border: none;
			background: none;
		}
	}
	
	.ui-dialog-content {
		font-size: 16px;
		color: #525252;
		
		p {
			
			a {
				color: $scouter-green;
			}
			a:hover {
				opacity: 0.8;
			}
		}
	}
	
	.ui-dialog-buttonpane {
		border: none;
		
		button {
			background: none;
			width: 90px;
			height: 35px;
			span {
				font-size: 14px;
			}
		}
		
		button:focus {
			border: none;
			outline: 0;
		}
		
		button:hover {
			background-color: #eee;
		}
		
		button:nth-child(1) {
			color: $scouter-green;
			border: 1px solid $scouter-green;
		}
		
		button:nth-child(2) {
			color: $scouter-red;
			border: 1px solid $scouter-red;
		}
	}
}

.ui-timepicker-wrapper {
	margin-top: 5px;
	width: 200px;
}

.ui-timepicker-disabled {
	color: $scouter-red !important;
}

@media only screen and (max-width: 480px) {
	.ui-datepicker-inline {
		width: 280px;
	}
	
	.ui-dialog {
		font-family: $medium-font;
		width: 300px !important;
		margin-left: -150px !important;
	}
}
