@import "variables.css.scss";

#user-profile {
	.bg-container {
		.container {
			padding: 60px 0px;
			
			.appointments-header {
				margin-bottom: 20px;
				h3 {
					color: $scouter-teal-fade;
				}
			}
			
			.appointments-container {
				height: auto;
				
				.appointment {
					border: 1px solid #eee;
					height: 150px;
					padding: 20px 10px;
					margin-bottom: 20px;
				}
				
				.columns {
					p {
						font-size: 14px;
						margin: 3px 0px;
						color: #525252;
						
						a {
							color: $scouter-green;
						}
					}
				}
			}
		}
	}
}
