<% content_for :title do %>
  Thank you
<% end %>

<% content_for :body do %>
  <p>We've successfully received your payment information. If you have any problems or are unsatisfied just contact us at mkrisiloff@gmail.com to get a refund.</p>
<% end %>

<% content_for :arrow_down_option do %>
<% render 'layouts/arrow_down' %>
<% end %>

<%= render 'layouts/header' %>