<% content_for :title do %>
  Thank you
<% end %>

<% content_for :body do %>
  <p>We've successfully received your payment! We'll be in touch within 24 hours with the time of your session and chatroom instructions.  If you have any problems or are unsatisfied, just contact us at 
		<a href="mailto:plainwhitecouch@gmail.com">plainwhitecouch@gmail.com</a> to get a refund.</p>
		
	<p>Best,</p>
	<p>Matthew and Gene</p>
	<p>Founders, Plain White Couch</p>
<% end %>

<% content_for :arrow_down_option do %>
<% render 'layouts/arrow_down' %>
<% end %>

<%= render 'layouts/header' %>