<%= form_tag("/save_c") do %>
	<article>
		<label class="amount">
			<h2><%= "$" + (@client.price.to_f / 100).ceil.to_s %>.</h2>
			<h3>Pay securely via Stripe -- We will not receive your card information.</h3>
		</label>
	</article>
	
	<hr></hr>
	
	<div class=".payment-errors"></div>
 
 <!--
	<form action="clients/charge" method="post" id="stripe-form">
	    <div class="formset">
	        <label>Card Number</label>
	        <input type="text" size="20" autocomplete="off" class="credit-number" />
	    </div>
 
	    <div class="formset">
	        <label>Security Code/CVC</label>
	        <input type="text" size="4" autocomplete="off" class="credit-scurity" />
	    </div>
 
	    <div class="formset">
	        <label>Expiration (MM/YYYY)</label>
	        <input type="text" size="2" class="card-expiry-month"/>
	        <span> / </span>
	        <input type="text" size="4" class="card-expiry-year"/>
	    </div>
 
	    <button type="submit" class="submit">Submit Payment</button>
	</form>
	 -->
	
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Set up your appointment."
						data-panel-label="Store with no charge."
						data-email=<%= @client.email %>>
						
	</script>
	
<% end %>