<div id="cta-white" class="cta panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns">
				<h2>There's nothing to lose, and all messages are deleted.</h2>
				<h2>Try instant messaging with a therapist.</h2>
			</div>
			<div class="sixteen columns cta-button2 cta-button-white">
				<%= render 'layouts/static_pages/browse_button' %>
			</div>
		</div>
	</div>
</div>