<footer id="footer" class="footer panel">
	<div class="bg-container">
		<div class="container">
			<div class="one-third column footer-email">
				<ul id="contact-us">
					<li><a href="mailto:mattkrisiloff@gmail.com">Email me: mattkrisiloff@gmail.com</a></li>
				</ul>
			</div>
			<div class="two-thirds column footer-links">
		    <ul>
		      <li><%= link_to "About",   about_path %></li>
		      <li><%= link_to "Privacy Policy", privacy_path %></li>
					<li><%= link_to "Terms of Service", terms_path %></li>
					<li><%= link_to "This is not for emergencies, read more." %></li>
		    </ul>
			</div>
			<div class="sixteen columns" id="footer-line">
			  <small>
			    © 2014 Plain White Couch. All rights reserved.
			  </small>
			</div>
		</div>
	</div>
</footer>