<footer class="footer panel">
	<div class="bg-container">
		<div class="container">
			<div class="one-third column">
				<h3>Contact</h3>
				<ul id="contact-us">
					<li>Email Us:</li>
					<li><a href="mailto:scouterapp@gmail.com">scouterapp@gmail.com</a></li>
				</ul>
			</div>
			<div class="one-third column">
				<h3>Resources</h3>
		    <ul>
		      <li><%= link_to "About",   about_path %></li>
		      <li><%= link_to "Privacy Policy", privacy_path %></li>
					<li><%= link_to "Terms of Service", terms_path %></li>
		    </ul>
			</div>
			<div class="one-third column">
				<h3>Keep in Mind</h3>
				<p id="suicide-line">Online counseling is not appropriate for all kinds of problems. If you have suicidal thoughts it's important that you seek help immediately. You are not alone. If you are located in the US, call 1.800.784.2433 or 911 and ask for help. If you are outside the US, look here to find the support hotline in your country.</p>
			</div>
		</div>
		<div class="sixteen columns" id="footer-line">
		  <small>
		    © 2013 Scouter. All rights reserved.
		  </small>
		</div>
	</div>
</footer>