<div id="gen-header" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="logo-banner">
				<div class="image"></div>
			</div>
			<div class="sixteen columns" id="copy-container">
				<h1><%= yield :title %></h1>
				<h5><%= yield :body %></h5>
			</div>
		</div>
	</div>
</div>