<div id="gen-header" class="panel">
	<div class="bg-container">
		<div class="container">
			<div class="sixteen columns" id="logo-banner">
				<%= link_to image_tag("cuplogo2.png", height: "70px", id: "top-logo"), homepage_path %>
			</div>
			<div class="sixteen columns" id="copy-container">
				<h1><%= yield :title %></h1>
				<%= yield :body %>
			</div>
			<div class="sixteen columns">
				<div id="arrow-down"></div>
			</div>
		</div>
	</div>
</div>