	<div class="sixteen columns" id="logo-banner">
		<%= link_to image_tag("couch-logo5.png", height: "50px", class: "top-logo"), therapists_index_path %>
		<p><span style="font-weight: 600; font-family: 'Open Sans';">PsychDate</span></p>
	</div>