<div class="profile-more-container">
	<div class="sixteen columns">
		<h1>About Me</h1>
	</div>
	<div class="eight columns">
		<hr>
	</div>
	<div class="sixteen columns">
		<p><%= therapist.bio %></p>
	</div>
	<div class="sixteen columns">
		<h1>About Therapy</h1>
	</div>
	<div class="eight columns">
		<hr>
	</div>
	<div class="sixteen columns">
		<p><%= therapist.approach %></p>
	</div>
</div>