<div class="profile-more-container">
	<div class="sixteen columns">
		<h1>Welcome </h1>
	</div>
	<div class="four columns">&nbsp;</div>
	<div class="eight columns">
		<hr>
		<ul class="nav-container">
			<li class="nav-item" id="welcome-nav-item">
				Welcome
			</li>
			<li class="nav-item" id="about-therapy-nav-item">
				About Therapy
			</li>
			<li class="nav-item" id="about-nav-item">
				About Me
			</li>
			<li class="nav-item" id="contact-nav-item">
				Contact
			</li>
		</ul>
	</div>
</div>