<div class="ng-hide" id="popup-background" ng-hide="popup.close"></div>
<div id="tutorial-popup" class="popup ng-hide" ng-model="popup" ng-hide="popup.close">
	<div class="bg-container">
		<div class="container">
			
			<div class="header-container">
				<h2>Here's the process</h2> 
				<p style="font-size: 18px; font-weight: 600; color: #90bc64;">Price: $40 for a 50-minute session, refund if not satisfied.</p>
			</div>
			
			<hr style="border-top: 1px dashed #ccc; margin-bottom: 40px;">
			
			<div class="content-containers">
			
				<div class="content-container sixteen columns">

					<div class="text-container content twelve columns">
						<h3>1. Sign up and suggest times to chat</h3>
						<p>Minimal information required.</p>
					</div>
				</div>
			
				<div class="content-container sixteen columns">

					<div class="text-container content twelve columns">
						<h3>2. Receive time confirmation via email within 24 hours</h3>
						<p>If your suggested times won't work, the therapist will suggest alternates.</p>
					</div>
				</div>
			
				<div class="content-container sixteen columns">

					<div class="text-container content twelve columns">
						<h3>3. Meet in your chatroom at the scheduled time</h3>
						<p>The chatroom is a unique, secure webpage with a required login.</p>
						<p>We'll email you beforehand with detailed instructions.</p>
						<p>You can see a sample chatroom at <%= link_to "plainwhitecouch.com/testchat", '/testchat', :target => "_blank" %></span></p>
					</div>
				</div>
				
			</div>

			<hr style="border-top: 1px dashed #ccc; margin-bottom: 30px;">
			
			<!--
			<i><span style="font-weight: 600;">Note: The first conversation is free, but we still ask for your credit card.</span> </i>
			<i>We're subsidizing the first conversation in the hopes you'll want to schedule more, so we want to make sure you're serious if you're trying this. In turn, we ask you to store your credit card information in your account in case you end up wanting to have more conversations. This will make followups easier, and you will only be charged if you actually indicate you want another session.</i>

			<br></br>
				-->

			<div class="button-container">
				<button class="confirm-button" ng-click="closePopup(true)">Okay, I understand.</button>
			</div>
		</div>
	</div>
</div>